<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>商品列表</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/static/css/goods/goodslist.css" />
    <include file="public/head"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/static/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/static/css/index.css"/>
    <link rel="stylesheet" href="__PUBLIC__/static/css/font-awesome-4.7.0/css/font-awesome.min.css">

	<script src="__PUBLIC__/static/js/jquery/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="__PUBLIC__/static/js/layer/layer.js"></script>
</head>

<body id="back">
<include file="public/indexhead"/>
<ul class="breadcrumbs"><li>全部商品 &gt; &nbsp;</li><li>商品筛选</li></ul>
<div class="search-res-container fix-width">
    <div class="search-criteria-container">
        <!--<ul class="game-list">-->
            <!--<li class="headers">游戏</li>-->
            <!--<li class="list-items">-->
                <!--<ul>-->
                    <!--<li class="all active">全部</li>-->
                    <!--<li class="item">魔兽世界</li>-->
                    <!--<li class="item">守望先锋</li>-->
                    <!--<li class="item">炉石传说</li>-->
                    <!--<li class="item">暗黑破坏神</li>-->
                    <!--<li class="item">星际争霸2</li>-->
                    <!--<li class="item">风暴英雄</li>-->
                    <!--<li class="item">暴雪游戏</li>-->
                <!--</ul>-->
            <!--</li>-->
        <!--</ul>-->
        <div class="categoryContainer">
            <if condition="$status eq 0">
                <!--商品分类-->
                <ul class="category-list">
                    <li class="headers">商品分类</li>
                    <li class="list-items">
                        <ul>
                            <a href="{:url('index/goods/goodslist',['id'=>0])}">
                                <li class="all <if condition="$level eq 0">active</if>">全部</li>
            </a>
            <foreach name='cate1' item="v1" key="k1">
                <if condition="in_array($v1['id'],$arr)">
                    <a href="{:url('index/goods/goodslist',['id'=>$v1.id])}">
                        <li class="item active"><span>{$v1.name}&nbsp<i class="fa fa-caret-down"></i></span></li>
                    </a>
                    <else/>
                    <a href="{:url('index/goods/goodslist',['id'=>$v1.id])}">
                        <li class="item"><span>{$v1.name}&nbsp<i class="fa fa-caret-up"></i></span></li>
                    </a>
                </if>
            </foreach>

            </ul>
            </li>
            </ul>

            <!--商品二级分类-->
            <ul class="sub-category-list">
                <if condition="$cate2 neq ''">
                    <a <if condition="$level gt 1">href="{:url('index/goods/goodslist',['id'=>$arr[$level-1]])}"</if>><li class="all <if condition="$level eq 1">active</if>">全部</li></a>
                <foreach name="cate2" item="v2" key="k2">
                    <a href="{:url('index/goods/goodslist',['id'=>$v2.id])}">
                        <li class="item <if condition="in_array($v2['id'],$arr)">active</if>"">{$v2.name}</li>
                    </a>
                </foreach>
                <else/>
                <li class="all active">全部</li>
                </if>
            </ul>

            </if>

        </div>
        <ul class="sort-list">
            <if condition="$status eq 0">
                    <a href="{:url('index/goods/goodslist',array('id'=>$cateid,'order'=>'goods_time','ec'=>'desc'))}"> <li class="sort-by-latest <if condition="$order eq 'goods_time'">active</if>">最新</li></a>
                    <a href="{:url('index/goods/goodslist',array('id'=>$cateid,'order'=>'goods_sales','ec'=>'desc'))}"><li class="sort-by-sales <if condition="$order eq 'goods_sales'">active</if>">销量优先</li></a>
                    <if condition="$ec neq '' and $ec eq 'desc'">
                        <a href="{:url('index/goods/goodslist',array('id'=>$cateid,'order'=>'goods_price','ec'=>'asc'))}">
                            <li class="sort-by-price <if condition="$order eq 'goods_price'">active</if>">价格<i class="fa fa-angle-double-down"></i></li>
                        </a>
                    <else/>
                    <a href="{:url('index/goods/goodslist',array('id'=>$cateid,'order'=>'goods_price','ec'=>'desc'))}">
                        <li class="sort-by-price <if condition="$order eq 'goods_price'">active</if>"">价格<i class="fa fa-angle-double-up" ></i></li>
                    </a>
                    </if>

                <else/>
                    <a href="{:url('index/goods/goodslist',array('search'=>$search,'order'=>'goods_time','ec'=>'desc','status'=>1))}"> <li class="sort-by-latest <if condition="$order eq 'goods_time'">active</if>">最新</li></a>
                    <a href="{:url('index/goods/goodslist',array('search'=>$search,'order'=>'goods_sales','ec'=>'desc','status'=>1))}"><li class="sort-by-sales <if condition="$order eq 'goods_sales'">active</if>">销量优先</li></a>
                    <if condition="$ec neq '' and $ec eq 'desc'">
                        <a href="{:url('index/goods/goodslist',array('search'=>$search,'order'=>'goods_price','ec'=>'asc','status'=>1))}">
                            <li class="sort-by-price <if condition="$order eq 'goods_price'">active</if>">价格<i class="fa fa-angle-double-down"></i></li>
                    </a>
                    <else/>
                    <a href="{:url('index/goods/goodslist',array('search'=>$search,'order'=>'goods_price','ec'=>'desc','status'=>1))}">
                        <li class="sort-by-price <if condition="$order eq 'goods_price'">active</if>"">价格<i class="fa fa-angle-double-up" ></i></li>
                    </a>
                    </if>


            </if>
            <!--<li class="price-input price-input-start">-->
                <!--<span class="placeholder">￥</span><input value="">&nbsp;-&nbsp;-->
            <!--</li>-->
            <!--<li class="price-input price-input-end">-->
                <!--<span class="placeholder">￥</span><input value="">-->
            <!--</li>-->
            <!--<li class="sort-by-price"><button class="btn btn-primary">确定</button></li>-->
        </ul>
    </div>
    <div class="search-result">
        <if condition="count($goodslist) neq 0">
            <ul class="product-list">
                <foreach name="goodslist" item="v3" key="k3">
                    <a href="{:url('index/goods/goodsinfo',['id'=>$v3.id])}">
                        <li>
                            <if condition="$v3.goods_inventory eq 0"><span class="sold-out-label">已售罄</span></if>
                            <img src="{$v3.original_img|default="__PUBLIC__/static/images/goodslist/nogoods.png"}" title="{$v3.goods_name}">
                            <span class="prod-info">{$v3.goods_name}</span>
                            <span class="price-info normal">
                    <span class="label">商城价：</span>
                    <span class="price">￥{$v3.goods_price}</span></span>
                        </li>
                    </a>
                </foreach>
            </ul>
            <else/>
            <div class="no-result">
                <img src="__PUBLIC__/static/images/goodslist/nogoods.png"/>
                <p>暂无商品</p>
            </div>
        </if>


        <div class="loading hide">
            <img src="https://yanxuan-static.nosdn.127.net/hxm/b2c-web/p/20150730/static/media/loading.08170205.gif"
                alt="加载">
        </div>
    </div>
    <div class="pagination-container"></div>
    <div id="pages">{$page}</div>

</div>
<!--footer-s-->
<include file="public/footer"/>
<!--footer-s-->


</body>
<script>
    $(function(){
        $("input").focus(function(){
            $(this).css('border-color','#39a6ec');
        }).blur(function(){
            $(this).css('border-color','#ddd');
        });
    });
</script>
</html>