<extend name="Public/layout"/>
<block name="head"><title>商品列表</title>
    <include file="public/style"/>
</block>
<block name="main">
<div class='row-fluid'>

    <div class='page-header' style="margin:5px 0px 0px 0px;background-color:#e7f2f8;height: 30px ">

        <div class='pull-left' >

            <ul class='breadcrumb'>
                <i class='icon-home' style="color: #000000;"></i>
                <li class='' style="margin-left: 5px;"><a href="{:url('/Admin/Index/index')}" style="color: #4c8fbd">首页</a></li>
            </ul>
        </div>

    </div>
    <div class='page-header' style="margin:5px 0px 0px 0px;background-color:#ffffff;height: 40px ;border-bottom: dotted 1px #e2e2e2">
        <div class='pull-left' >
            <ul class='breadcrumb'>


                <li class='active'><h3>商品</h3></li>


                <li class='separator'>
                    <i class='icon-angle-right'></i>
                </li>
                <li class='active'>商品列表</li>

            </ul>
        </div>
    </div>

    <div class="span10"style="height: 40px;">

        <div class='controls '>
            <div class='input-append pull-right'>
                <select class="span3">
                    <option value="0">所有分类</option>
                    <foreach name="catelist" key="k" item="v">
                        <option value="$v.id}">{$v.name}</option>
                    </foreach>
                </select>
                <select class="span3">
                    <option>D--戴尔</option>
                </select>
                <select class="span2">
                    <option>全部</option>
                </select>
                <select class="span2">
                    <option>全部</option>
                </select>
                <input class='span3' id='appendedInputButtons1' type='text' />
                <button class='btn' type='button'>
                    <i class='icon-search'></i>
                </button>
            </div>
        </div>

    </div>

    <div class='row-fluid' style="margin-top: 0px">
        <div class='span12 box bordered-box green-border' style='margin-bottom:0;'>

            <div class='box-content box-no-padding'>

                <div class='scrollable-area'>

                    <table class='table table-bordered table-hover td-word' style='margin-bottom:0;'>
                        <thead class="acgnthead">
                        <tr>
                            <th>
                                <input type="checkbox" value="">
                            </th>
                            <th>id</th>
                            <th>商品名称</th>
                            <th>货号</th>
                            <th>分类</th>
                            <th>价格</th>
                            <th>推荐</th>
                            <th>新品</th>
                            <th>热卖</th>
                            <th>是否上架</th>
                            <th>库存</th>
                            <th>操作</th>

                        </tr>
                        </thead>

                        <tbody>
                        <div class="tDiv">
                            <div class="tDiv2">
                                <div class="fbutton">
                                    <a href="{:url('Goods/add')}" onfocus="this.blur();">
                                                <span>
                                                    <i class="icon-plus"></i>
                                                    添加商品
                                                </span>
                                    </a>
                                </div>
                                <div class="fbutton">
                                    <a href="#" onfocus="this.blur();">
                                                <span>
                                                    <i class="icon-plus"></i>
                                                    添加商品
                                                </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <foreach name="goodslist" item="v1" key="k1">
                        <tr>
                            <td>
                                <input type="checkbox" value="">
                            </td>
                            <td>{$v1.id}</td>
                            <td>{$v1.goods_name}</td>
                            <td>{$v1.goods_sn}</td>
                            <td>{$v1.name}</td>
                            <td>{$v1.goods_price}</td>
                            <td>
                                <div class='text-right'>
                                        <span>
                                            <i class='icon-ok-circle ok-icon'></i>
                                        </span>

                                    <a class='' href='#'>
                                        <i class='icon-ban-circle notok-icon'></i>
                                    </a>
                                </div>
                            </td>
                            <td>
                                <div class='text-right'>
                                        <span>
                                            <i class='icon-ok-circle ok-icon'></i>
                                        </span>

                                    <a class='' href='#'>
                                        <i class='icon-ban-circle notok-icon'></i>
                                    </a>
                                </div>
                            </td>
                            <td>
                                <div class='text-right'>
                                        <span>
                                            <i class='icon-ok-circle ok-icon'></i>
                                        </span>

                                    <a class='' href='#'>
                                        <i class='icon-ban-circle notok-icon'></i>
                                    </a>
                                </div>
                            </td>
                            <td>
                                <div class='text-right'>
                                        <span>
                                            <i class='icon-ok-circle ok-icon'></i>
                                        </span>

                                    <a class='' href='#'>
                                        <i class='icon-ban-circle notok-icon'></i>
                                    </a>
                                </div>
                            </td>
                            <td>{$v1.goods_inventory}</td>
                            <td><a class="btn-success btn" href="{:url('Admin/Goods/goodsinfo',array('id'=>$v1.id))}">修改</a><a class="btn-danger btn">删除</a></td>
                        </tr>
                        </foreach>

                        </tbody>

                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

</block>



