<!--左侧导航条-->
<nav class='' id='main-nav'>
    <div class='navigation' id="navigation">
        <div class='search'>
            <form accept-charset="UTF-8" action="search_results.html" method="get" /><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /></div>
            <div class='search-wrapper'>
                <input autocomplete="off" class="search-query" id="q" name="q" placeholder="Search..." type="text" value="" />
                <button class="btn btn-link icon-search" name="button" type="submit"></button>
            </div>
            </form>
        </div>
        <ul class='nav nav-stacked'>
            <li class='active'>
                <a href="{:url('Index/index')}">
                    <i class='icon-dashboard'></i>
                    <span>首页</span>
                </a>
            </li>

            <if condition="$role=1">
                <li class=''>
                    <a class='dropdown-collapse' href="javacript:void(0);">
                        <i class='icon-edit'></i>
                        <span>商品</span>
                        <i class='icon-angle-down angle-down'></i>
                    </a>
                    <ul class='nav nav-stacked' style="display: block">
                        <li class=''>
                            <a  href="{:url('Goods/index')}" id="link">
                                <i class='icon-caret-right'></i>
                                <span>商品列表</span>
                            </a>
                        </li>
                        <li class=''>
                            <a href="{:url('Admin/Category/index')}" id="link1">
                                <i class='icon-caret-right'></i>
                                <span>商品分类</span>
                            </a>
                        </li>
                        <li class=''>
                            <a href="{:url('Admin/Attribute/index')}" id="link2">
                                <i class='icon-caret-right'></i>
                                <span>商品属性</span>
                            </a>
                        </li>
                        <li class=''>
                            <a href="{:url('Admin/Goodstype/index')}" id="link3">
                                <i class='icon-caret-right'></i>
                                <span>商品模型</span>
                            </a>
                        </li>
                        <li class=''>
                            <a href="{:url('Admin/Spec/index')}" id="link4">
                                <i class='icon-caret-right'></i>
                                <span>商品规格</span>
                            </a>
                        </li>
                        <li class=''>
                            <a href='#'>
                                <i class='icon-caret-right'></i>
                                <span>品牌列表</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </if>
            <li>
                <a class='dropdown-collapse ' href='#'>
                    <!--<i class='icon-tint'></i>-->
                    <i class='icon-table'></i>
                    <span>订单管理</span>
                    <i class='icon-angle-down angle-down'></i>
                </a>
                <ul class='nav nav-stacked' style="display: block">
                    <li class=''>
                        <a href='/Admin/order/index' id="link5">
                            <i class='icon-caret-right'></i>
                            <span>订单详情</span>
                        </a>
                    </li>
                    <li class=''>
                        <a href='/Admin/order/orderaction'>
                            <i class='icon-caret-right' id="link6"></i>
                            <span>订单日志</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class=''>
                <a href="{:url('Goods/index')}">
                    <i class='icon-star'></i>
                    <span>会员管理</span>
                    <i class='icon-angle-down angle-down'></i>
                </a>
                <ul class='nav nav-stacked' style="display: block">
                    <li class=''>
                        <a href='/Admin/user/index' id="link5">
                            <i class='icon-caret-right'></i>
                            <span>会员列表</span>
                        </a>
                    </li>
                    <li class=''>
                        <a href='/Admin/order/orderaction'>
                            <i class='icon-caret-right' id="link6"></i>
                            <span>订单日志</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a class='dropdown-collapse ' href='#'>
                    <i class='icon-cogs'></i>
                    <span>权限管理</span>
                    <i class='icon-angle-down angle-down'></i>
                </a>
                <ul class='nav nav-stacked'>
                    <li class=''>
                        <a href='charts.html'>
                            <i class='icon-bar-chart'></i>
                            <span>Charts</span>
                        </a>
                    </li>
                    <li class=''>
                        <a href='address_book.html'>
                            <i class='icon-envelope'></i>
                            <span>Address book</span>
                        </a>
                    </li>
                    <li class=''>
                        <a href='chats.html'>
                            <i class='icon-comments'></i>
                            <span>Chats</span>
                        </a>
                    </li>
                    <li class=''>
                        <a href='inplace_editing.html'>
                            <i class='icon-pencil'></i>
                            <span>In-place editing</span>
                        </a>
                    </li>
                    <li class=''>
                        <a href='filetrees.html'>
                            <i class='icon-list-ul'></i>
                            <span>File trees</span>
                        </a>
                    </li>
                    <li class=''>
                        <a href='fileupload.html'>
                            <i class='icon-file'></i>
                            <span>Fileupload</span>
                        </a>
                    </li>
                    <li class=''>
                        <a href='todo.html'>
                            <i class='icon-list-alt'></i>
                            <span>Todo list</span>
                        </a>
                    </li>
                    <li class=''>
                        <a href='wysiwyg.html'>
                            <i class='icon-paste'></i>
                            <span>WYSIWYG</span>
                        </a>
                    </li>
                </ul>
            </li>

        </ul>
    </div>
</nav>
<script>
    // $(document).ready(function(){
    //
    //         $('#link').each(function(){
    //             $this = $(this);
    //             if($this[0].href==String(window.location)){
    //                 $(".nav li").removeClass("active");
    //                 $this.parent('li').addClass("active");  //active表示被选中效果的类名
    //                 $this.parent().parent().parent().addClass("active")
    //                 $this.parent().parent().parent().children('ul').css("display",'block')
    //                 console.log( $(this).parent().html())
    //             }
    //         });
    //
    //     $('#link1').each(function(){
    //         $this = $(this);
    //         if($this[0].href==String(window.location)){
    //             $(".nav li").removeClass("active");
    //             $this.parent('li').addClass("active");  //active表示被选中效果的类名
    //             $this.parent().parent().parent().addClass("active")
    //             $this.parent().parent().parent().children('ul').css("display",'block')
    //             console.log( $(this).parent().html())
    //         }
    //     });
    //     $('#link2').each(function(){
    //         $this = $(this);
    //         if($this[0].href==String(window.location)){
    //             $(".nav li").removeClass("active");
    //             $this.parent('li').addClass("active");  //active表示被选中效果的类名
    //             $this.parent().parent().parent().addClass("active")
    //             $this.parent().parent().parent().children('ul').css("display",'block')
    //             console.log( $(this).parent().html())
    //         }
    //     });
    //     $('#link3').each(function(){
    //         $this = $(this);
    //         if($this[0].href==String(window.location)){
    //             $(".nav li").removeClass("active");
    //             $this.parent('li').addClass("active");  //active表示被选中效果的类名
    //             $this.parent().parent().parent().addClass("active")
    //             $this.parent().parent().parent().children('ul').css("display",'block')
    //             console.log( $(this).parent().html())
    //         }
    //     });
    //     $('#link4').each(function(){
    //         $this = $(this);
    //         if($this[0].href==String(window.location)){
    //             $(".nav li").removeClass("active");
    //             $this.parent('li').addClass("active");  //active表示被选中效果的类名
    //             $this.parent().parent().parent().addClass("active")
    //             $this.parent().parent().parent().children('ul').css("display",'block')
    //             console.log( $(this).parent().html())
    //         }
    //     });
    //     $('#link5').each(function(){
    //         $this = $(this);
    //         if($this[0].href==String(window.location)){
    //             $(".nav li").removeClass("active");
    //             $this.parent('li').addClass("active");  //active表示被选中效果的类名
    //             $this.parent().parent().parent().addClass("active")
    //             $this.parent().parent().parent().children('ul').css("display",'block')
    //             console.log( $(this).parent().html())
    //         }
    //     });
    //     $('#link6').each(function(){
    //         $this = $(this);
    //         if($this[0].href==String(window.location)){
    //             $(".nav li").removeClass("active");
    //             $this.parent('li').addClass("active");  //active表示被选中效果的类名
    //             $this.parent().parent().parent().addClass("active")
    //             $this.parent().parent().parent().children('ul').css("display",'block')
    //             console.log( $(this).parent().html())
    //         }
    //     });
    //     $('#link7').each(function(){
    //         $this = $(this);
    //         if($this[0].href==String(window.location)){
    //             $(".nav li").removeClass("active");
    //             $this.parent('li').addClass("active");  //active表示被选中效果的类名
    //             $this.parent().parent().parent().addClass("active")
    //             $this.parent().parent().parent().children('ul').css("display",'block')
    //             console.log( $(this).parent().html())
    //         }
    //     });
    //
    // });
</script>
