<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>购物车</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/static/css/index.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/static/css/cart/base2.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/static/css/cart/checkout.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/static/css/cart/modal.css"/>
    <style>
        .quentity input {
            width: 42px;
            padding: 5px 10px;
            text-align: center;
        }
       #app .btn--red {
            background-color: #d1434a;
            border: 1px #d1434a solid;
            color: #fff; }
        #app .btn--red:hover {
            background-color: #fff;
            color: #d1434a;
        }
    </style>
</head>
<body class="checkout" style="font-size: 13px">
<include file="public/head"/>
<include file="public/indexhead"/>
<div id="app">
<div class="container">
    <if condition="$Think.session.user_id eq '' ">
        <div class="notlogin">你还没有登录！登录后购物车的商品将保存在您的账号中！<a class="login" href="{:url('index/user/login')}">立即登录</a></div>
    </if>
    <if condition="$cartList eq ''"/>
        <div class="cart">
            <div class="notlogin_cart">
                <ul>
                    <if condition="$Think.session.user_id eq '' ">
                        <li>购物车内暂时没有商品，登录后将显示您之前加入的商品</li>
                        <li style="margin-top:20px ;"><a class="login" href="{:url('index/user/login')}">登录</a></li>
                        <else/>
                        <li>购物车内暂时没有商品，快去添加吧</li>
                    </if>

                </ul>

            </div>

        </div>
    <else/>
    <div class="cart">
            <!--<div class="checkout-title">-->
            <!--<span>查看购物车</span>-->
            <!--</div>-->

            <!--商品信息-->
            <div class="item-list-wrap">
                <div class="cart-item">
                    <div class="cart-item-head">
                        <ul>
                            <li>商品名称</li>
                            <li>商品规格名字</li>
                            <li>单价</li>
                            <li>商品数量</li>
                            <li>金额</li>
                            <li>操作</li>
                        </ul>
                    </div>
                    <!--商品列表信息-->
                    <ul class="cart-item-list">
                        <foreach name="cartList" key="k1" item="v1">
                            <li>
                                <div class="cart-tab-1">
                                    <div class="cart-item-check">

                                        <a href="javascript:;" class="item-check-btn" >
                                            <input type="hidden" name="car" id="car_id" value="{$v1.id}"/>
                                        </a>
                                    </div>
                                    <!--图片-->
                                    <div class="cart-item-pic">
                                        <img src="{$v1.goods.original_img}" >
                                        <!--<img src="{{item.productImage}}" alt=""> 会在浏览器加载时 vue实例没有渲染完是，把它当作图片路径来加载-->
                                    </div>
                                    <!--图片后面的文字-->
                                    <div class="cart-item-title">
                                        <div class="item-name">
                                            <a href="{:url('Goods/goodsInfo',array('id'=>$v1['goods_id']))}">{$v1.goods_name}</a>
                                        </div>
                                    </div>
                                    <!--&lt;!&ndash; 赠送&ndash;&gt;-->
                                    <!--<div class="item-include">-->
                                        <!--<dl>-->
                                            <!--<dt>赠送</dt>-->
                                            <!--<dd >111</dd>-->
                                        <!--</dl>-->
                                    <!--</div>-->
                                </div>


                                <!--规格名称-->
                                <div class="cart-tab-2">
                                    <div class="item-price">{$v1.spec_key_name}</div>
                                </div>
                                <!-- 单价-->
                                <div class="cart-tab-4">
                                    <div class="item-price-total" id="goodsprice">{$v1.goods_price}</div>
                                </div>
                                <!--商品数量-->
                                <div class="cart-tab-3">
                                    <div class="item-quantity">
                                        <div class="select-self select-self-open">
                                            <div class="quentity">
                                                <a href="javascript:;" id="subtract"> - </a>
                                                <input type="text" name="num{$k1}" id="goods_num" value="{$v1.goods_num}" onKeyUp="this.value=this.value.replace(/[^\d]/g,'')">
                                                <input type="hidden"  name="storecount{$k1}" id="storecount" value="{$v1.store_count}" >
                                                <a href="javascript:; " id="add"> + </a>
                                            </div>
                                        </div>
                                        <div class="item-stock">
                                        <if condition="$v1.store_count eq 0">
                                            库存不足
                                            <p>
                                                <a href="javascript:;" ><span class="icon icon-del" style="color: red" data-cartid="{$v1.id}" id="del">删除</span></a>
                                            </p>
                                            <else/>有货
                                        </if>

                                        </div>
                                    </div>
                                </div>
                                <!--总金额-->
                                <div class="cart-tab-4">
                                    <!-- 总金额是当前的单价乘以商品总数-->
                                    <div class="item-price-total" id="goodstotal">{$v1.goodstotal}</div>

                                </div>
                                <!--操作-->
                                <div class="cart-tab-5">
                                    <p>
                                        <a href="javascript:;" ><span class="icon icon-del" data-cartid="{$v1.id}" id="del">删除</span></a>
                                    </p>

                                </div>

                            </li>


                        </foreach>

                    </ul>
                </div>
            </div>

            <!--footer-->
            <div class="cart-foot-wrap">
                <!--全选-->
                <div class="cart-foot-l">
                    <div class="item-all-check">
                        <a href="javascript:;" onclick="checkAll(true)">
                            <span class="item-check-btn" id="quanxuan">
                            </span>
                            <span > 全选 </span>
                        </a>
                    </div>
                    <div class="item-all-del">
                        <a href="javascript:;" onclick="checkAll(false)"> 取消全选</a>
                    </div>
                </div>
                <!--footer 右边的-->
                <div class="cart-foot-r">
                    <div class="item-total">
                        已选择<span class="choosed">0</span>件商品
                    </div>
                    <div class="item-total">
                        总价：<span class="total-price">0.00元</span>
                    </div>
                    <div  class="next-btn-wrap">
                        <!--<a href="{:url('Order/index')}" id="buy" class="btn btn&#45;&#45;red"  style="font-size: 14px;line-height: 44px;">去支付</a>-->
                        <a id="buy" class="btn btn--red"  style="font-size: 14px;line-height: 44px;">去支付</a>
                    </div>
                </div>
            </div>
        </div>
    </if>

    </div>
</div>



  
    


</table>
<include file="public/footer"/>
</body>
<script>
    $(function(){
        var store= $("input[name^='storecount']");

        store.each(function(i,o){
            if($(this).val()==0){
                $(this).prev().val(0);
            }
        })

        getOrderlist(1);
    });
    //删除商品
    $(document).on('click','#del',function () {
       var cartid = $(this).data('cartid');
        layer.confirm('确定移除该商品？',{btn:['确定','取消'],title:'提示'},function () {
            $.ajax({
                type:'get',
                dataType:'json',
                async:false,
                url:'/index/cart/delcart',
                data:{cartid:cartid},
                success:function (data) {
                    if(data.status==1){
                        layer.msg(data.msg,{icon:1,time:2000},function () {
                            window.location.reload();
                        })
                    }else {
                        layer.msg(data.msg,{icon:2,time:2000},function () {
                            window.location.reload();
                        })
                    }

                }
            })
        })
    })


    //全选或者取消全选
    function checkAll(i){
        var a = i;

        var car= $("input[name^='car']");
        car.each(function(i,o){
            if (a){
                $('#quanxuan').addClass('check');
                $(this).parents('a').addClass('check');
                $(this).addClass('check');
            }else {
                $('#quanxuan').removeClass('check');
                $(this).parents('a').removeClass('check');
                $(this).removeClass('check');
            }
        })
        getOrderlist()
    }


    var storenum= $("input[name^='num']");
    //输入框输入数量判断是否足够库存
    storenum.each(function(i,o){
        $(this).blur(function () {
            var num = parseInt($(this).val());
            console.log(num)
            var maxnum = parseInt($(this).parent().find('#storecount').val());

            if (!num){
                num=1;
            }
            num <= 0 ? num = 1 : num;

            if (num >= maxnum) {
                layer.alert('该商品的数量不能大于' + maxnum, {icon: 2, time: 2000})
                num = maxnum;
                $(this).val(num);
            }
            $(this).val(num);
            //计算该商品的总金额
            var goodsprice = parseFloat($(this).parents('li').find('#goodsprice').html());//商品的单价
            var goodstotal = num * goodsprice;
            $(this).parents('li').find('#goodstotal').html(toDecimal2(goodstotal));

        })
    })

    //数量增加
    $(document).on('click','#add',function () {
        var num = parseInt($(this).parent().find('#goods_num').val());
        var maxnum = parseInt($(this).parent().find('#storecount').val());

        // console.log(goodsprice)
        var number = altergoodsnum(1,num,maxnum);
        $(this).parent().find('#goods_num').val(number);
        //计算该商品的总金额
        var goodsprice = parseFloat($(this).parents('li').find('#goodsprice').html());//商品的单价
        var goodstotal = number * goodsprice;
        $(this).parents('li').find('#goodstotal').html(toDecimal2(goodstotal));
    })

    //数量减少
    $(document).on('click','#subtract',function () {
        var num = parseInt($(this).parent().find('#goods_num').val());
        var maxnum = parseInt($(this).parent().find('#storecount').val());
        var number = altergoodsnum(-1,num,maxnum);
        $(this).parent().find('#goods_num').val(number);
        //计算该商品的总金额
        var goodsprice = parseFloat($(this).parents('li').find('#goodsprice').html());//商品的单价
        var goodstotal = number * goodsprice;
        $(this).parents('li').find('#goodstotal').html(toDecimal2(goodstotal));
    })

    //购买数量加减
    function altergoodsnum(n,num,maxnum) {
        if (!num){
            num=1;
        }
        num += n;
        num <= 0 ? num = 1 : num;

        if (num >= maxnum) {
            layer.alert('商品数量不能大于'+maxnum,{icon:2,time:2000})
            num = maxnum;
        }
       return num;

    }

    $(document).on('click','.next-btn-wrap .btn',function () {
        console.log($(".cart-tab-1 input[id='goods_id']").val());
    });

    //点击按钮变成选中状态
    $(document).on('click','.item-check-btn',function (){
        if ($(this).hasClass('check')){
            $(this).removeClass('check');
            $(this).children('input').removeClass('check');
        }else {
            $(this).addClass('check');
            $(this).children('input').addClass('check');
        }
        getOrderlist();
        // setTotalPrice();
    });

    //根据用户select计算总金额
    function setTotalPrice(){

        var totalprice=$(this).val();
        console.log(totalprice)
    }

    //购物车对象
    function CartItem(id, goods_num,selected) {
        this.id = id;
        this.goods_num = goods_num;
        this.selected = selected;
    }

    //生成订单数组
    function  getOrderlist(n) {
        var cart = new Array();
        var carlist = $("input[name^='car']");
        carlist.each(function(i,o){
            var id = $(this).attr("value");
            var goods_num = $(this).parents('li').find('#goods_num').val();
            if ($(this).hasClass('check')) {
                var cartItem = new CartItem(id,goods_num,1);
                cart.push(cartItem);
            }else{
                var cartItemNo= new CartItem(id,goods_num,0);
                cart.push(cartItemNo);
            }
        })
        $.ajax({
            type:"POST",
            dataType:'json',
            data:{cart:cart},
            url:"{:url('Cart/updatecart')}",
            success:function (data) {
                if (data.status==1){
                   // console.log(data.data.totalprice)
                    $('.total-price').html(toDecimal2(data.data.totalprice)+' 元')
                    $('.choosed').html(data.data.count)
                }else {
                    layer.msg(data.msg,{icon:2,time:2000})
                }
            }
        })
    }

    //  保留两位小数函数
    function toDecimal2(x) {
        var f = parseFloat(x);
        if (isNaN(f)) {
            return false;
        }
        var f = Math.round(x*100)/100;
        var s = f.toString();
        var rs = s.indexOf('.');
        if (rs < 0) {
            rs = s.length;
            s += '.';
        }
        while (s.length <= rs + 2) {
            s += '0';
        }
        return s;
    }

    //点击去支付，生成订单
    $(document).on('click','#buy',function () {
        getOrderlist();
        $.ajax({
            type:'POST',
            dataType:'json',
            url:"{:url('index/order/index')}",
            success:function (res) {
                if (res.status==0){
                    layer.msg(res.msg,{icon:2,time:2000});
                }else {
                    // $("html").empty().html(res);
                    window.location.href="{:url('index/order/index')}";
                }
            }
        })
        // window.location.href="{:url('index/order/index')}";
    });



</script>
</html>