<extend name="Public/layout"/>
<block name="head">
<title>首页</title>
    <link href='__PUBLIC__/static/css/goods/addgoods.css' media='all' rel='stylesheet' type='text/css' />

    <style>
    .control-label{font-size: 13px;
        color: #6B6B6B;}
   .controls input{width: 300px;}

    table.acgntable {
        clear: both;
        width: 100%;
        margin-bottom: 0px;
        max-width: none !important;
        border-collapse:collapse;
    }
    .table-bordered .btn1 {
        display: inline-block;
        padding: 6px 2px;
        margin-top: 2px;
        margin-bottom: 0;
        font-size: 13px;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 5px;

    }

.layui-upload-list{
     position: relative;
     /*left: px;*/
     bottom: 30px;
        overflow: hidden;

 }
.layui-upload-list image{
         width: 150px;
         height: 150px;

     }
.layui-upload .layui-btn{
    position: relative;
    left: 280px;
    bottom: 40px;
    width: 100px;
    height: 30px;
    }
.layui-upload #test2{
        position: relative;
        left: 25px;
        bottom: 10px;
        width: 100px;
        height: 30px;
    }
#deleteimg{
    position: relative;
    left: 140px;
    bottom: 150px;
    cursor: pointer;
}
.images{
    height: 200px;
    width: 150px;
    float: left;
    margin-left: 10px;
}

</style>
</block>


<block name="main">
<div class="row-fluid">
    <div class='page-header' style="margin:5px 0px 0px 0px;background-color:#e7f2f8;height: 30px ">

        <div class='pull-left' >

            <ul class='breadcrumb'>
                <i class='icon-home' style="color: #000000;"></i>
                <li class='' style="margin-left: 5px;"><a href="{:url('/Admin/Goods/index')}" style="color: #4c8fbd">首页</a></li>
                <li class='' style="margin-left: 5px;"><i class='icon-angle-left'></i></li>
                <li class='' style="margin-left: 5px;"><a href="{:url('/Admin/Goods/index')}" style="color: #4c8fbd">商品列表</a></li>
                <li class='' style="margin-left: 5px;"><i class='icon-angle-left'></i></li>
                <li class='' style="margin-left: 5px;">添加商品</li>
            </ul>
        </div>

    </div>
    <div class='page-header' style="margin:5px 0px 0px 0px;background-color:#ffffff;height: 40px ;border-bottom: solid 1px #e2e2e2">
        <div class='pull-left'>
            <ul class='breadcrumb'>
                <li class='active'><h3>商品</h3></li>
                <li class='separator'>
                    <i class='icon-angle-right'></i>
                </li>
                <li class='active'>添加商品</li>
            </ul>
        </div>
        <div class='pull-left subject'>
            <ul >
                <li><a href="javascript:void(0);" data-index="1" class="tab current"><span>通用信息</span></a></li>
                <li><a href="javascript:void(0);" data-index="2" class="tab "><span>商品相册</span></a></li>
                <li><a href="javascript:void(0);" data-index="3" class="tab "><span>商品模型</span></a></li>
                <!--<li><a href="javascript:void(0);" data-index="5" class="tab"><span>积分折扣</span></a></li>-->
            </ul>
        </div>
    </div>

    <div class='span12' style="margin-top: 10px">

        <form accept-charset="UTF-8" action="{:url('/Admin/Goods/addEditgoods')}" class="form form-horizontal" method="get" style="margin-bottom: 0;" enctype="multipart/form-data"/>
        <!--<form id="data" class="form form-horizontal" method="get" style="margin-bottom: 0;" enctype="multipart/form-data"/>-->
        <input type="hidden" name="goods_id" value="{$goods}">
            <div class='box-content box1'>


                <div class='control-group'>
                    <label class='control-label' for='goods_name'>商品名称</label>
                    <div class='controls'>
                        <input name="goods_name" id="goods_name" type='text' />
                    </div>
                </div>


                <div class='control-group'>
                    <label class='control-label' for='goods_sn'>商品编号</label>
                    <div class='controls'>
                        <input  name="goods_sn" id="goods_sn" type='text' />
                    </div>
                </div>

                <div class='control-group'>
                    <label class='control-label' for='goods_inventory'>商品库存</label>
                    <div class='controls'>
                        <input id='goods_inventory' name="goods_inventory" type='text' style="border-radius: 50px;"/>
                    </div>
                </div>
                <div class='control-group'>
                    <label class='control-label' for='goods_price'>本店售价</label>
                    <div class='controls'>
                        <input id='goods_price' name="goods_price" type='text' />
                    </div>
                </div>
                <hr class='hr-normal' />
                <div class='control-group'>
                    <label class='control-label' for='goods_sale'>折扣</label>
                    <div class='controls'>
                        <input id='goods_sale' name="goods_sale" type='text' />
                    </div>
                </div>


                <!--分类-->
                <div class='control-group'>
                    <label class='control-label' for='cate1'>分类</label>
                    <div class='controls'>
                        <!--一级分类-->
                        <select name="cate1" id="cate1" style="width: 150px">
                        <foreach name="cate1" key="k1" item="v1">
                                <option value="{$v1.id}">{$v1.name}</option>
                        </foreach>
                        </select>
                        <!--二级分类-->
                        <select name="cate2" id="cate2" onChange="get_category(this.value,'cate3','0')"
                                 style="width: 150px">
                            <option value="0">请选择分类</option>
                        </select>
                        <!--三级分类-->
                        <select name="cate3" id="cate3" style="width: 150px">
                            <option value="0">请选择分类</option>
                        </select>



                    </div>
                </div>

                <!--图片-->
                <div class='control-group'>
                    <label class='control-label'>商品图片</label>
                    <div class='controls'>
                        <input id='original_img' name="original_img" type="text" value="" />

                    <div class="layui-upload" style="margin-top: 10px;">
                        <button type="button" class="layui-btn" style="margin-left: 20px" id="test1">上传图片</button>
                        <div class="layui-upload-list">
                            <img class="layui-upload-img" width="150" height="150" id="demo1">
                            <p id="demoText"></p>
                        </div>
                    </div>
                    </div>
                </div>

                <!--简介-->
                <div class='control-group'>
                <label class='control-label' for='goods_abstract'>简单描述</label>
                <div class='controls'>
                    <input id='goods_abstract' name="goods_abstract" type='text' />
                </div>
            </div>
                <!--商品详情-->
                <div class='control-group'>
                    <label class='control-label' for='container'>商品详情描述</label>
                    <div class='controls'>
                        <!--<input id='goods_desc' name="goods_desc" type='text' />-->

                        <!-- 加载编辑器的容器 -->
                        <script id="container" name="content" type="text/plain">

                        </script>
                        <!-- 配置文件 -->
                        <script type="text/javascript" src="__PUBLIC__/static/ueditor/ueditor.config.js"></script>
                        <!-- 编辑器源码文件 -->
                        <script type="text/javascript" src="__PUBLIC__/static/ueditor/ueditor.all.js"></script>
                    </div>
                </div>


                <!--<div class='form-actions' >-->
                     <!--<div class='btn btn-primary'  id="submit">-->
                        <!--<i class='icon-save'></i>-->
                        <!--确认提交-->
                    <!--</div>-->
                    <!--<div class='btn btn-danger' id="cancel">-->
                        <!--<i class='fa fa-mail-reply '></i>-->
                        <!--取消-->
                    <!--</div>-->
                <!--</div>-->
                    <!--<input class='btn btn-primary' id="clicksubmit" style="display: none" type="submit" value=""/>-->
                </div>

        <!--多图片上传-->
            <div class='box-content box2'>
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
                    <legend>上传多张图片</legend>
                </fieldset>

                <div class="layui-upload">
                    <button type="button" class="layui-btn" id="test2">多图片上传</button>
                    <input type="hidden" name="imagelist" value="" id="imagelist"/>
                    <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;">
                        <div class="layui-upload-list"  id="demo2">

                        </div>
                    </blockquote>


                </div>
            </div>
            <div class='box-content box3'>
               <div class="row" style="font-size: 12px;color: #555;">
                   <div class="tab-pane">
                     <table class=" acgntable table-bordered" id="goods_spec_table">
                        <tbody>
                        <tr>
                            <td>商品模型:</td>
                            <td>
                                <select name="tpye_id" id="tpye_id" style="font-size: 12px">
                                    <option value="0">请选择商品模型</option>
                                    <foreach name="goodsmodel" key="k1" item="v1">
                                        <option value="{$v1.tid}">{$v1.type_name}</option>
                                    </foreach>
                                </select>
                                <span class="err" id="err_item"></span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                   </div>
                   <div style="margin-right: 20px">
                       <div class="tab-spec">

                           <div id="ajax_spec_data" class="col-xs-8" >
                               <table class=" acgntable table-bordered" id="goods_spec_table1">
                                   <tbody>
                                   <tr>
                                       <td colspan="2"><b>商品规格:</b></td>
                                   </tr>
                                   </tbody>
                               </table>
                               <table class=" acgntable table-bordered" id="spec_input_tab">
                                   <tbody>
                                   <tr>
                                       <td><b></b></td>
                                       <td><b>价格</b></td>
                                       <td><b>库存</b></td>
                                       <td><b>操作</b></td>
                                   </tr>
                                   </tbody>
                               </table>
                           </div>


                       </div>
                       <div class="tab-attr">
                           <table class=" acgntable table-bordered" id="goods_attr_table">
                               <tbody><tr>
                                   <td><b>商品属性</b>：</td>
                               </tr>
                               </tbody></table>
                       </div>
                   </div>
               </div>

            <!--<input class='btn btn-primary' type="submit" value="确认提交"/>-->
        </div>
            <div class='form-actions' >
                <div class='btn btn-primary'  id="submit">
                    <i class='icon-save'></i>
                    确认提交
                </div>
                <div class='btn btn-danger' id="cancel">
                    <i class='fa fa-mail-reply '></i>
                    取消
                </div>
            </div>
            <input class='btn btn-primary' id="clicksubmit" style="display: none" type="submit" value=""/>
            </div>
        </form>
    </div>
</div>
</div>
    <script>

        layui.use('upload', function() {
            var $ = layui.jquery
                , upload = layui.upload;

            //普通图片上传
            var uploadInst = upload.render({
                elem: '#test1'
                , url: '/admin/Goods/img'
                , done: function (res) {
                    //如果上传失败

                    if (res.status == 0) {
                        return layer.msg('上传失败');
                    }else {
                        //上传成功
                        $('#original_img').val(res.path);
                        $('#demo1').attr('src', res.path);
                    }

                }
                , error: function () {
                    //演示失败状态，并实现重传
                    var demoText = $('#demoText');
                    demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                    demoText.find('.demo-reload').on('click', function () {
                        uploadInst.upload();
                    });
                }
            });
            //多图片上传
            upload.render({
                elem: '#test2'
                ,url: '/admin/Goods/img'
                ,multiple: true
                ,done: function(res){
                    if (res.status == 0) {
                        layer.msg('上传失败',{icon:1,time:2000});
                    }else {
                        //上传成功
                        $('#demo2').append(
                            '<div class="images">' +
                            '<img id="img" style="float: left;margin-left: 10px;margin-top: 20px" width="150px" height="150px" src="'+ res.path +'"  class="layui-upload-img">' +
                            '<i class="fa fa-window-close-o fa-lg " id="deleteimg" style="color: #721c24;"></i>' +
                            '</div>'
                        );
                        layer.msg('上传成功',{icon:1,time:2000});
                    }
                }
            });
        })
        $(document).on('click','#deleteimg',function () {
            $(this).parents('div .images').remove();

        })
        var ue = UE.getEditor('container', {
            autoHeight: false
        });
        // var editor = UE.getEditor('container');
        //点击提交表单
        $(document).on('click','#submit',function () {
            var arr = [];
          $("img[id^='img']").each(function () {
              var path = $(this).attr('src');
              arr.push(path);
          })
            var str = arr.join('&');
            $('#imagelist').val(str);
            $('#clicksubmit').trigger('click');

        })
        //点击取消
        $(document).on('click','#cancel',function () {
            window.location.href="/admin/goods/index"
        })

        $(function(){
            //select #cate1变化时获取商品分类1 2 3级别
            $(document).on("change",'#cate1',function(){
                get_category($(this).val(),'cate2','0');
                // console.log(get_category($(this).val(),'cate2','0'))
                $('#cate3').empty().html("<option value='0'>请选择商品分类</option>");
            })


        })

       //将商品分类输出到select
        function get_category(id,next,select_id){
            console.log(id)
            $.ajax({
                type: 'GET',
                dataType: 'json',
                data: {cate: id},
                url: "{:url('Admin/Goods/changelevelcate')}",
                success: function(data) {

                    var html = "<option value='0'>请选择商品分类</option>";
                    if(data.status == 1){
                        for (var i=0 ;i<data.result.length;i++){
                            html+= "<option value='"+data.result[i].id+"'>"+data.result[i].name+"</option>";
                        }
                    }
                    $('#'+next).empty().html(html);
                    (select_id > 0) && $('#'+next).val(select_id);//默认选中
                }
            });
        }


        //点击提交商品
        $(document).on("click",'#submit',function(){
            var data = {};
            var t = $('#data').serializeArray();
            $.each(t, function() {
                data[this.name] = this.value;
            });
            $.ajax({
                type:'get',
                async:false,
                dataType:'json',
                data:{data:data},
                url:"{:url('Admin/Goods/addgoods')}",
                success: function(data) {
                    alert(data.msg)
                }
            })

        })

        function initmodel(){
            $('.box1').css('display','block');
            $('.box2').css('display','none');
            $('.box3').css('display','none');
        }
        initmodel();

        //点击切换模式
        $(document).on("click",'.subject a',function(){
          var index = parseInt($(this).attr('data-index'));
            switch(index)
            {
                case 1:
                    $(this).parents('li').siblings().children('a').removeClass('current');
                    $(this).addClass('current');
                    $('.box1').css('display','block');
                    $('.box2').css('display','none');
                    $('.box3').css('display','none');
                    break;
                case 2:
                    $(this).parents('li').siblings().children('a').removeClass('current');
                    $(this).addClass('current');
                    $('.box1').css('display','none');
                    $('.box2').css('display','block');
                    $('.box3').css('display','none');
                    break;
                case 3:
                    $(this).parents('li').siblings().children('a').removeClass('current');
                    $(this).addClass('current');
                    $('.box1').css('display','none');
                    $('.box2').css('display','none');
                    $('.box3').css('display','block');
                    break;
            }
        })

        // 商品模型切换时 ajax 调用  返回不同的属性输入框
        $(document).on("change",'#tpye_id',function(){
            var goods_id = $("input[name='goods_id']").val();
            var typeid = $(this).val();
            $.ajax({
                type:'GET',
                dataType:'json',
                data:{goods_id: goods_id,id:typeid},
                url:"{:url('Admin/Goods/getspecitem')}",
                success: function (data) {
                    $("#ajax_spec_data").html('').append(data);
                    ajaxGetSpecInput();	// 触发完  马上触发 规格输入框
                }
            });
            //商品类型切换时 ajax 调用  返回不同的属性输入框
            $.ajax({
                type: 'GET',
                data: {goods_id: goods_id, id: typeid},
                url: "{:url('Admin/Goods/getattr')}",
                success: function (data) {
                    $("#goods_attr_table tr:gt(0)").remove();
                    $("#goods_attr_table").append(data);
                }
            });

        });

        //规格批量填充
        $(function () {
            $(document).on("click", '#item_fill', function () {
                var item_price_fill = $("#item_price").val();
                var item_store_count_fill = $("#item_store_count").val();
                console.log(item_price_fill,item_store_count_fill);
                $("input[name$='[price]']").val(item_price_fill);
                $("input[name$='[store_count]']").val(item_store_count_fill);
            })
        })

        // 属性输入框的加减事件
        function addAttr(a) {
            var attr = $(a).parent().parent().prop("outerHTML");
            attr = attr.replace('addAttr', 'delAttr').replace('+', '-');
            $(a).parent().parent().after(attr);
        }
        // 属性输入框的加减事件
        function delAttr(a) {
            $(a).parent().parent().remove();
        }
            

    </script>
</block>
