<style>
	#bottom-links .title{
		font-weight: normal;
		height: 30px;
		line-height: 30px;
		font-size: 18px;
		color: #333;
	}
	#bottom-links .phone{
		display: block;
		height: 40px;
		line-height: 40px;
		font-size: 18px;
		color: #e30000;
	}
	#bottom-links .tips{
		margin-bottom: 18px;
		line-height: 20px;
		color: #999;
		font-size: 12px;
	}
	#bottom-links{
		width:100%;
		text-align: center;background-color:#f5f5f5;
	}
	#bottom-links .cols{
		margin: 0px auto;
		width:1200px;
		padding:10px 0px;

	}
	#bottom-links .ccol{
		float: left ;;
		padding: 0 60px;
		margin-top: 15px;

	}
	#bottom-links .cols .bottom-links-items{
		margin-top: 18px;
		text-align: left;
	}
	#bottom-links .cols .bottom-links-items img{
		margin-right:10px;
	}
	#bottom-links .cols .bottom-links-items li{
		padding: 3px 0;
	}
	#bottom-links .cols .bottom-links-items a{
		color: #666;
		text-decoration: none;
		font-family: "Microsoft YaHei";
	}
	#bottom-links .cols .bottom-links-items a:hover{
		color: red;
		text-decoration: underline;
		cursor: pointer;
	}
</style>
<div class="tpshop-service cleanflow" style="margin-top: 20px">
	<ul class="w1224 clearfix">
		<li>
			<i class="ico ico-day7">7</i>
			<p class="service">7天无理由退货</p>
		</li>
		<li>
			<i class="ico ico-day15">15</i>
			<p class="service">15天免费换货</p>
		</li>
		<li>
			<i class="ico ico-quality"></i>
			<p class="service">正品行货 品质保障</p>
		</li>
		<li>
			<i class="ico ico-service"></i>
			<p class="service">专业售后服务</p>
		</li>
	</ul>

</div>
<div class="footer">

	<div class="w1224 clearfix" style="padding-bottom: 10px;">
		<div id="bottom-links">
			<ul class="clearfix cols">
			<li class="ccol">
				<div class="bottom-links-title">关于我们</div>
				<ul class="clearfix bottom-links-items">
					<li><a href="#">招聘英才</a></li>
					<li><a href="#">公司简介</a></li>
					<li><a href="#">合作洽谈</a></li>
					<li><a href="#">联系我们</a></li>
				</ul>
			</li>
			<li class="ccol">
				<div class="bottom-links-title">客服中心</div>
				<ul class="clearfix bottom-links-items">
					<li><a href="#">收货地址</a></li>
					<li><a href="#">个人资料</a></li>
					<li><a href="#">修改密码</a></li>
				</ul>
			</li>
			<li class="ccol">
				<div class="bottom-links-title">售后服务</div>
				<ul class="clearfix bottom-links-items">
					<li><a href="#">退换货政策</a></li>
					<li><a href="#">退款说明</a></li>
					<li><a href="#">联系卖家</a></li>
				</ul>
			</li>
			<li class="ccol">
				<div class="bottom-links-title">帮助中心</div>
				<ul class="clearfix bottom-links-items">
					<li><a href="#">FAQ</a></li>
					<li><a href="#">积分兑换</a></li>
					<li><a href="#">积分细则</a></li>
					<li><a href="#">已购商品</a></li>
				</ul>
			</li>
			<li class="ccol" style="float: right">
				<h3 class="title">联系我们</h3>
				<span class="phone">12345678910</span>
				<p class="tips">周一至周日8:00-18:00<br />(仅收市话费)</p>
			</li>
		</ul>

		</div>
		<div class="left-help-list">

			<div class="friendship-links clearfix">

	            <span>友情链接 : </span>
                <div class="links-wrap-h clearfix">

                </div>
	        </div>
		</div>

	</div>
    <div class="mod_copyright p">

        <p>Copyright © 2016-2025 acgn周边商城' 版权所有 保留一切权利 备案号:粤ICP备123456号</p>
        <p class="mod_copyright_auth">
            <a class="mod_copyright_auth_ico mod_copyright_auth_ico_1" href="" target="_blank">经营性网站备案中心</a>
            <a class="mod_copyright_auth_ico mod_copyright_auth_ico_2" href="" target="_blank">可信网站信用评估</a>
            <a class="mod_copyright_auth_ico mod_copyright_auth_ico_3" href="" target="_blank">网络警察提醒你</a>
            <a class="mod_copyright_auth_ico mod_copyright_auth_ico_4" href="" target="_blank">诚信网站</a>
            <a class="mod_copyright_auth_ico mod_copyright_auth_ico_5" href="" target="_blank">中国互联网举报中心</a>
        </p>
    </div>
</div>
<style>
    .mod_copyright {
        border-top: 1px solid #EEEEEE;
    }
    .grid-top {
        margin-top: 20px;
        text-align: center;
    }
    .grid-top span {
        margin: 0 10px;
        color: #ccc;
    }
    .mod_copyright > p {
        margin-top: 10px;
        color: #666;
        text-align: center;
    }
    .mod_copyright_auth_ico {
        overflow: hidden;
        display: inline-block;
        margin: 0 3px;
        width: 103px;
        height: 32px;
        background-image: url(../../../../public/static/images/ico_footer.png);
        line-height: 1000px;
    }
    .mod_copyright_auth_ico_1 {
        background-position: 0 -151px;
    }
    .mod_copyright_auth_ico_2 {
        background-position: -104px -151px;
    }
    .mod_copyright_auth_ico_3 {
        background-position: 0 -184px;
    }
    .mod_copyright_auth_ico_4 {
        background-position: -104px -184px;
    }
    .mod_copyright_auth_ico_5 {
        background-position: 0 -217px;
    }
</style>
<script>
    // 延时加载二维码图片
    jQuery(function($) {
        $('img[img-url]').each(function() {
            var _this = $(this),
                    url = _this.attr('img-url');
            _this.attr('src',url);
        });
    });
</script>