<div class='span12 box bordered-box green-border' style='margin-bottom:0;'>
    <div class="tDiv">
        <div class="tDiv2">
            <div class="fbutton">
                <a href="" onfocus="this.blur();">
                                        <span>
                                            <i class="icon-plus"></i>
                                           添加会员
                                        </span>
                </a>
            </div>

        </div>
    </div>
    <div class='box-content box-no-padding'>

        <div class='scrollable-area'>

            <table class='table table-bordered table-hover td-word' style='margin-bottom:0;'>
                <thead class="acgnthead">
                <tr>
                    <th>
                        <input type="checkbox" value="">
                    </th>
                    <th>ID</th>
                    <th>会员昵称</th>
                    <th>邮件地址</th>
                    <th>手机号码</th>
                    <th>余额</th>
                    <th>注册日期</th>
                    <th>最后一次登录时间</th>
                    <th>登录次数</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>

                <foreach name="user" item="v1" key="k1">
                    <tr>
                        <td>
                            <input type="checkbox" value="">
                        </td>
                        <td>{$v1.id}</td>

                        <td>{$v1.user_nickname}  </td>
                        <td>
                            {$v1.user_name}
                        </td>
                        <td>
                            {$v1.user_phone}
                        </td>
                        <td>
                            {$v1.user_money}
                        </td>
                        <td>
                            {$v1.user_regtime|date="Y-m-d H:i",###}
                        </td>
                        <td>
                            {$v1.user_lastlogin|date="Y-m-d H:i",###}
                        </td>
                        <td>
                            {$v1.user_count}
                        </td>
                        <td align="center">
                            <div class="caozuo" style="text-align: center; width: 170px; max-width:170px;">
                                <a id="see" class="green btn" href="{:url('Admin/User/userinfo',array('id'=>$v1.id))}"><span class="icon-pencil"></span>&nbsp;查看</a>
                                <a id="delete" data-orderid="{$v1.id}" class="red btn"><span class="icon-trash"></span>&nbsp;删除</a>
                            </div>
                        </td>
                    </tr>

                </foreach>

                </tbody>

            </table>
        </div>



    </div>


</div>