<extend name="Public/layout"/>
<block name="head">
<title>会员列表</title>
    <link href='__PUBLIC__/static/css/goods/addgoods.css' media='all' rel='stylesheet' type='text/css' />
    <link href='__PUBLIC__/static/css/adminuser/adminuser.css' media='all' rel='stylesheet' type='text/css' />
<style>
    .control-label{font-size: 13px;
        color: #6B6B6B;}
   .controls input{width: 300px;}

    table.acgntable {
        clear: both;
        width: 100%;
        margin-bottom: 0px;
        max-width: none !important;
        border-collapse:collapse;
    }
    .table-bordered .btn1 {
        display: inline-block;
        padding: 6px 2px;
        margin-top: 2px;
        margin-bottom: 0;
        font-size: 13px;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 5px;

    }
    .red{
        color: red;
        font-size: 12px;
    }
    #sex span{
        vertical-align:text-top;
        margin-left:2px;
        margin-bottom:-2px
    }
</style>
</block>


<block name="main">
<div class="row-fluid">
    <div class='page-header' style="margin:5px 0px 0px 0px;background-color:#e7f2f8;height: 30px ">

        <div class='pull-left' >

            <ul class='breadcrumb'>
                <i class='icon-home' style="color: #000000;"></i>
                <li class='' style="margin-left: 5px;"><a href="{:url('/Admin/Goods/index')}" style="color: #4c8fbd">首页</a></li>
                <li class='' style="margin-left: 5px;"><i class='icon-angle-left'></i></li>
                <li class='' style="margin-left: 5px;"><a href="{:url('/Admin/User/index')}" style="color: #4c8fbd">会员列表</a></li>
                <li class='' style="margin-left: 5px;"><i class='icon-angle-left'></i></li>
                <li class='' style="margin-left: 5px;">会员详情</li>
            </ul>
        </div>

    </div>
    <div class='page-header' style="margin:5px 0px 0px 0px;background-color:#ffffff;height: 40px ;border-bottom: solid 1px #e2e2e2">
        <div class='pull-left'>
            <ul class='breadcrumb'>
                <li class='active'><h3>会员管理</h3></li>
                <li class='separator'>
                    <i class='icon-angle-right'></i>
                </li>
                <li >会员详情</li>
                <li class='active' style="font-size: 12px;">-网站系统会员管理会员信息</li>
            </ul>
        </div>
    </div>

    <div class='span12' style="margin-top: 10px">

        <form accept-charset="UTF-8" action="{:url('/Admin/user/addEditUser')}" class="form form-horizontal" method="post" style="margin-bottom: 0;">
        <!--<form id="data" class="form form-horizontal" method="get" style="margin-bottom: 0;" enctype="multipart/form-data"/>-->
                <input type="hidden" value="{$user.id}" name="id"/>
            <div class='box-content box1'>


                <div class='control-group'>
                    <label class='control-label' for='user_nickname' >会员昵称</label>
                    <div class='controls'>
                        <input name="user_nickname" id="user_nickname" type='text' value="{$user.user_nickname}"  readonly="readonly"/>
                    </div>
                </div>


                <div class='control-group'>
                    <label class='control-label' for='user_money'>会员资产</label>
                    <div class='controls'>
                        <strong class="red">{$user.user_money}</strong><span  style="font-size: 12px;">余额</span>
                    </div>
                </div>

                <div class='control-group'>
                    <label class='control-label' for='user_name'>电子邮箱</label>
                    <div class='controls'>
                        <input id='user_name' name="user_name" type='text' value="{$user.user_name}" readonly="readonly" style="border-radius: 50px;"/>
                    </div>
                </div>
                <div class='control-group'>
                    <label class='control-label' for='user_phone'>手机号码</label>
                    <div class='controls'>
                        <input id='user_phone' name="user_phone" type='text' value="{$user.user_phone}" readonly="readonly"/>
                    </div>
                </div>
                <hr class='hr-normal' />
                <div class='control-group'>
                    <label class='control-label' for='password1'>新密码</label>
                    <div class='controls'>
                        <input id='password1' name="password1" type='text' />
                        <p style="font-size: 12px;color:red;">留空表示不修改密码</p>
                    </div>
                </div>


                <!--确认密码-->
                <div class='control-group'>
                    <label class='control-label' for='password2'>确认密码</label>
                    <div class='controls'>
                        <input id='password2' name="password2" type='text' />
                        <p style="font-size: 12px;color:red;">留空表示不修改密码</p>
                    </div>
                </div>

                <!--性别-->
                <div class='control-group'>
                    <label class='control-label' for='user_sex'>性别</label>
                    <div class='controls' id="sex" style="font-size: 12px;">
                        <input name="user_sex" type='radio' value="3" <if condition="$user.user_sex eq 3 or $user.user_sex eq ''">checked="checked"</if>/><span >保密</span>&nbsp
                        <input name="user_sex" type='radio' value="1" <if condition="$user.user_sex eq 1">checked="checked"</if>/><span >男</span>&nbsp
                        <input  name="user_sex" type='radio' value="2" <if condition="$user.user_sex eq 2">checked="checked"</if>/><span >女</span>
                    </div>
                </div>
                <!--QQ-->
                <div class='control-group'>
                <label class='control-label' for='user_qq'>QQ</label>
                <div class='controls'>
                    <input id='user_qq' name="user_qq" type='text' value="{$user.user_qq}"/>
                </div>
            </div>
                <!--注册时间-->
                <div class='control-group'>
                    <label class='control-label' for='user_regtime'>注册时间</label>
                    <div class='controls'>
                        <input id='user_regtime' name="user_regtime" type='text' readonly="readonly" value='{$user.user_regtime|date="Y-m-d H:i",###}' />
                    </div>
                </div>
                <!--冻结会员-->
                <div class='control-group'>
                    <label class='control-label' >冻结会员</label>
                    <div class='controls onoff'>
                        <label for="is_disable1" class="cb-enable <if condition="$user['is_disable'] eq 1">selected</if>"><span>开启</span></label>
                        <label for="is_disable2" class="cb-disable <if condition="$user['is_disable'] eq 0">selected</if>"><span>关闭</span></label>
                        <input id="is_disable1" name="is_disable" value="1" type="radio" <if condition="$user['is_disable'] eq 1">checked</if>>
                        <input id="is_disable2" name="is_disable" value="0" type="radio" <if condition="$user['is_disable'] eq 0">checked</if>>
                    </div>
                </div>


                <div class='form-actions' id="submit">
                     <!--<div type="submit" class='btn btn-primary'  >-->
                        <!--<i class='icon-save'></i>-->
                        <!--确认提交-->
                    <!--</div>-->

                    <input class='btn btn-primary' type="submit" value="确认提交"></input>

                </div>

        </form>
    </div>
</div>
</div>
    <script>
        //点击切换冻结按钮
        $(document).on('click','.onoff label',function () {
            var id =  '#'+$(this).attr('for');
            $(this).siblings('label').removeClass('selected');
            $(this).addClass('selected');
            $(id).siblings('input').attr('checked',false);
            $(id).attr('checked',true);


        })

    </script>
</block>
