<extend name="Public/layout"/>
<block name="head"><title>商品订单</title>
    <link href='__PUBLIC__/static/css/adminorder/main.css' media='all' rel='stylesheet' type='text/css' />
    <style>
        a.ncap-btn-green {
            background-color: #4fc0e8;
            border-color: #3aa8cf;
        }
        .ncm-goods-gift {
            text-align: left;
        }
        .ncm-goods-gift ul {
            display: inline-block;
            font-size: 0;
            vertical-align: middle;
        }
        .ncm-goods-gift li {
            display: inline-block;
            letter-spacing: normal;
            margin-right: 4px;
            vertical-align: top;
            word-spacing: normal;
        }
        .ncm-goods-gift li a {
            background-color: #fff;
            display: table-cell;
            height: 30px;
            line-height: 0;
            overflow: hidden;
            text-align: center;
            vertical-align: middle;
            width: 30px;
        }
        .ncm-goods-gift li a img {
            max-height: 30px;
            max-width: 30px;
        }

        a.green{

            background: #fff none repeat scroll 0 0;
            border: 1px solid #f5f5f5;
            border-radius: 4px;
            color: #999;
            cursor: pointer !important;
            display: inline-block;
            font-size: 12px;
            font-weight: normal;
            height: 20px;
            letter-spacing: normal;
            line-height: 20px;
            margin: 0 5px 0 0;
            padding: 1px 6px;
            vertical-align: top;
        }

        a.green:hover { color: #FFF; background-color: #1BBC9D; border-color: #16A086; }

        .ncap-order-style .ncap-order-details{
            margin:20px auto;
        }
        .contact-info h3,.contact-info .form_class{
            display: inline-block;
            vertical-align: middle;
        }
        .form_class i.fa{
            vertical-align: text-bottom;
        }
    </style>
</block>
<block name="main">
    <div class='page-header' style="margin:5px 0px 0px 0px;background-color:#e7f2f8;height: 30px ">

        <div class='pull-left' >

            <ul class='breadcrumb'>
                <i class='icon-home' style="color: #000000;"></i>
                <li class='' style="margin-left: 5px;"><a href="{:url('/Admin/Index/index')}" style="color: #4c8fbd">首页</a></li>
            </ul>
        </div>

    </div>
    <div class="page" >

        <div class="fixed-bar">
            <div class="item-title"><a class="back" href="javascript:history.go(-1)"  title="返回订单列表">返回列表</a>
                <div class="subject">
                    <h3>商品订单</h3>
                    <h5>商城实物商品交易订单查询及管理</h5>
                </div>
                <div class="subject" style="width:62%">
                    <!--<if condition="$order['order_status'] lt 2 and $order.pay_status eq 0">-->
                        <!--<a href="" style="float:right;margin-right:10px" class="ncap-btn-big ncap-btn-green" ><i class="fa fa-pencil-square-o"></i>修改订单</a>-->
                    <!--</if>-->
                    <a href="" target="_blank"  style="float:right;margin-right:10px" class="ncap-btn-big ncap-btn-green" ><i class="fa fa-print"></i>打印订单</a>
                </div>
            </div>

        </div>
        <div class="ncap-order-style">

            <div class="ncap-order-details">
                <form id="order-action">
                    <input name="order_id" value="{$order['id']}" type="hidden"/>
                    <div class="tabs-panels">
                        <div class="misc-info">
                            <h4>基本信息</h4>
                            <dl>
                                <dt>订单 ID：</dt>
                                <dd>{$order.id}</dd>
                                <dt>订单号：</dt>
                                <dd>{$order.order_sn}</dd>
                                <dt>会员：</dt>
                                <dd>{$order.users.user_nickname}  ID:{$order.id}</dd>
                            </dl>
                            <dl>

                                <dt>电话：</dt>
                                <dd>{$order.users.user_phone}</dd>
                                <dt>应付金额：</dt>
                                <dd>{$order.order_amount}</dd>
                            </dl>
                            <dl>
                                <dt>订单状态：</dt>
                                <dd>
                                    {$order_status[$order.order_status]}
                                    /
                                        {$pay_status[$order.pay_status]}
                                    <if condition="$order.pay_status eq 1">
                                        <span style="color: red">（{$order.pay_type_id}）</span>
                                    </if>
                                    /
                                    <if condition="$order.shipping_status eq 1">
                                        发货中
                                        <else/>未发货
                                    </if>
                                </dd>
                                <dt>下单时间：</dt>
                                <dd>{$order.order_time|date='Y-m-d H:i',###}</dd>
                                <dt>支付时间：</dt>
                                <dd>
                                    <if condition="$order.pay_time neq ''">{$order.pay_time|date='Y-m-d H:i',###}
                                        <else/>
                                        N
                                    </if>
                                </dd>
                            </dl>
                            <dl>
                                <dt>支付方式：</dt>
                                <dd>{$order.order_time|default='其他方式'}</dd>
                            </dl>
                        </div>
                        <div class="addr-note">
                            <h4>收货信息</h4>
                            <dl>
                                <dt>联系人：</dt>
                                <dd>{$order.consignee}</dd>
                                <dt>联系方式：</dt>
                                <dd>{$order.phone}</dd>
                            </dl>
                            <dl>
                                <dt>收货地址：</dt>
                                <dd>{$order.province}&nbsp{$order.city}&nbsp{$order.county}&nbsp{$order.address}</dd>
                            </dl>
                            <dl>
                                <dt>邮编：</dt>
                                <dd>{$order.zipcode|default='N'}</dd>
                            </dl>
                            <dl>
                                <dt>配送方式：</dt>
                                <dd>{$order.zipcode}</dd>
                            </dl>
                            <dl>
                                <dt>留言：</dt>
                                <dd>{$order.user_note|default=''}</dd>
                            </dl>
                        </div>


                        <div class="goods-info">
                            <h4>商品信息</h4>
                            <table>
                                <thead>
                                <tr>
                                    <th >商品编号</th>
                                    <th colspan="2">商品</th>
                                    <th>规格属性</th>
                                    <th>数量</th>
                                    <th>商品价格</th>
                                    <th>商品小计</th>
                                </tr>
                                </thead>
                                <tbody>
                                <foreach name="$order.orderGoods" item="v1" key="k1">
                                    <tr>
                                        <td class="w60">{$v1.goods_sn}</td>
                                        <td class="w30"><div class="goods-thumb"><a href="{:url('Index/Goods/goodsinfo',array('id'=>$v1.id))}" target="_blank"><img alt="" src="{$v1.original_img}" /> </a></div></td>
                                        <td style="text-align: left;"><a href="{:url('Index/Goods/goodsinfo',array('id'=>$v1.id))}" target="_blank">{$v1.goods_name}</a><br/></td>
                                        <td class="w80">{$v1.spec_key_name}</td>
                                        <td class="w60">{$v1.goods_num}</td>
                                        <td class="w100">{$v1.goods_price}</td>
                                        <td class="w80">{$v1.goods_total}</td>
                                    </tr>
                                </foreach>
                            </table>
                        </div>
                        <div class="total-amount contact-info">
                            <h4>订单总额：￥{$order.total_amount}</h4>
                        </div>

                        <div class="contact-info">
                            <h4>费用信息</h4>
                            <if condition="$order.pay_status eq 0">
                                <div class="form_class">
                                    <a class="btn green" ><i class="fa fa-pencil-square-o"></i>修改费用</a>
                                </div>
                            </if>
                            <dl>

                                <dt>小计：</dt>
                                <dd>{$order.total_amount}</dd>
                                <dt>运费：</dt>
                                <dd>+{$order.shipping_price}</dd>

                            </dl>
                            <dl>
                                <dt>余额扣除：</dt>
                                <dd>-{$order.total_amount}</dd>
                                <dt>优惠券抵扣：</dt>
                                <dd>-{$order.coupon_price}</dd>
                                <dt>价格调整：</dt>
                                <dd>减：</dd>
                            </dl>
                            <dl>
                                <dt>应付：</dt>
                                <dd><strong class="red_common">{$order.order_amount}</strong></dd>
                            </dl>
                        </div>
                        <div class="contact-info">
                            <h4>操作信息</h4>
                            <dl class="row">
                                <dt class="tit">
                                    <label for="note">操作备注</label>
                                </dt>
                                <dd class="opt" style="margin-left:10px">
                                    <textarea id="note" name="note" style="width:600px" rows="6"  maxlength="200" placeholder="请输入操作备注" class="tarea"></textarea>
                                </dd>
                            </dl>
                            <dl class="row">
                                <dt class="tit">
                                    <label for="note">可执行操作</label>
                                </dt>
                                <dd class="opt" style="margin-left:10px">
                                    <!--订单还没付款-->
                                    <if condition="$order.pay_status eq 0">
                                        <div>订单还未付款</div>
                                        <else/>
                                        <!--订单已确认-->
                                        <if condition="$order.order_status eq 1">

                                            <!--订单未发货-->
                                            <if condition="$order.shipping_status eq 0">
                                                <a class="ncap-btn-big ncap-btn-green" id="confirm" data-status="2">取消确认</a>
                                                <a class="ncap-btn-big ncap-btn-green" href="{:url('Admin/order/delivery',array('orderid'=>$order.id))}" >去发货</a>
                                            </if>
                                            <elseif condition="$order.order_status eq 0"/>
                                            <a class="ncap-btn-big ncap-btn-green" id="confirm" data-status="1">确认</a>
                                        </if>

                                        <in name="$order.order_status" value="2,5">
                                            <a class="ncap-btn-big ncap-btn-green" id="confirm" data-status="3">移除</a>
                                        </in>
                                        <if condition="$order.order_status neq 5">
                                            <a class="ncap-btn-big ncap-btn-green" id="confirm" data-status="5">无效</a>
                                        </if>

                                    </if>


                                </dd>
                            </dl>
                        </div>
                        <div class="goods-info">
                            <h4>操作记录</h4>
                            <table>
                                <thead>
                                <tr>
                                    <th>操作者</th>
                                    <th>操作时间</th>
                                    <th>订单状态</th>
                                    <th>付款状态</th>
                                    <th>发货状态</th>
                                    <th>描述</th>
                                    <th>备注</th>
                                </tr>
                                </thead>
                                <tbody id="order_action">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        $(function () {
            getOrderAction()
        })
        //获取订单的操作日志
        function getOrderAction(){
            var order_id = "{$order.id}";
            $.ajax({
                type : "get",
                url  : "{:url('Admin/order/getOrderAction')}",
                data : {order_id:order_id},
                dataType: 'json',
                error: function(request) {
                    layer.msg("服务器繁忙, 请联系管理员!", {icon: 1, time: 2000});
                },
                success: function(data) {
                    // 验证成功提交表单
                    if(data.status == 1)
                    {
                        var html = '';
                        for (var i=0; i<data.data.length;i++){
                            html +='<tr><td class="text-center">'+data.data[i].user_name+'</td>' +
                                '<td class="text-center">'+data.data[i].log_time+'</td>' +
                                '<td class="text-center">'+data.data[i].order_status+'</td>' +
                                '<td class="text-center">'+data.data[i].pay_status+'</td>' +
                                '<td class="text-center">'+data.data[i].shipping_status+'</td>' +
                                '<td class="text-center">'+data.data[i].status_desc+'</td>' +
                                '<td class="text-center">'+data.data[i].action_note+'</td></tr>'
                        }
                        $('#order_action').html(html);
                    }else{
                        layer.msg(data.msg, {icon: 2, time: 2000});
                    }
                }
            });
        }

        //点击操作按钮
        $(document).on('click','#confirm',function () {
            var order_id = "{$order.id}";
            var status = $(this).data('status');
            var note = $('#note').val();

            $.ajax({
                type : "post",
                url  : "{:url('Admin/order/ChangeOrderstatus')}",
                data : {order_id:order_id,status:status,note:note},
                dataType: 'json',
                error: function(request) {
                    layer.msg("服务器繁忙, 请联系管理员!", {icon: 1, time: 2000});
                },
                success: function(data) {
                        if (data.status==1){
                            layer.msg(data.msg,{icon: 1,time:2000},function () {
                                window.location.reload();
                            })
                        }else if (data.status==3){
                            layer.msg(data.msg, {icon: 1, time: 2000},function () {
                                window.location.replace("/Admin/order/index");
                            });
                        }else{
                            layer.msg(data.msg, {icon: 2, time: 2000});
                        }
                    getOrderAction();
                    }

            });
        })


    </script>
</block>

