<extend name="Public/layout"/>
<block name="head">
<title>首页</title>
<style>
    .control-label{font-size: 13px;
        color: #6B6B6B;}
   .controls input{width: 300px;}
    .control-group{
        padding-bottom: 20px;
        border-bottom: dotted 1px #e2e2e2;
    }

</style>
</block>


<block name="main">
<div class="row-fluid">
    <div class='page-header' style="margin:5px 0px 0px 0px;background-color:#e7f2f8;height: 30px ">

        <div class='pull-left' >

            <ul class='breadcrumb'>
                <i class='icon-home' style="color: #000000;"></i>
                <li class='' style="margin-left: 5px;"><a href="{:url('/Admin/Index/index')}" style="color: #4c8fbd">首页</a></li>
                <li class='' style="margin-left: 5px;"><i class='icon-angle-left'></i></li>
                <li class='' style="margin-left: 5px;"><a href="{:url('/Admin/Spec/index')}" style="color: #4c8fbd">商品规格</a></li>
                <li class='' style="margin-left: 5px;"><i class='icon-angle-left'></i></li>
                <li class='' style="margin-left: 5px;">修改商品规格</li>
            </ul>
        </div>

    </div>
    <div class='page-header' style="margin:5px 0px 0px 0px;background-color:#ffffff;height: 40px ;border-bottom: dotted 1px #e2e2e2">
        <div class='pull-left' >
            <ul class='breadcrumb'>


                <li class='active'><h3>商品</h3></li>


                <li class='separator'>
                    <i class='icon-angle-right'></i>
                </li>
                <li class='active'>修改商品规格</li>



            </ul>
        </div>
    </div>

    <div class='span12'>


    <div class='box-content'>
        <form accept-charset="UTF-8" action="{:url('Spec/updatespec')}" class="form form-horizontal" method="post" style="margin-bottom: 0;" />
        <!--<form id="data" class="form form-horizontal" method="get" style="margin-bottom: 0;" enctype="multipart/form-data"/>-->

    <volist name="speclist" id="vo">
        <input type="hidden"value="{$vo.id}"name="id"/>
            <div class='control-group' style="padding-top: 15px;">
                <label class='control-label' for='name'>规格名称</label>
                <div class='controls'>
                    <input name="name" id="name" type='text' value="{$vo.name}"/>
                </div>
            </div>



            <div class='control-group'>
                <label class='control-label' for='tid'>所属模型名称</label>
                <div class='controls'>
                    <select name="tid" id="tid" style="width: 150px">
                        <option value="{$vo.tid}">{$vo.type_name}</option>
                        <foreach name="typelist" item="v1" key="k1">
                            <option value="{$v1.tid}">{$v1.type_name}</option>
                        </foreach>
                    </select>
                </div>
            </div>


            <div class='control-group'>
                <label class='control-label' for='item'>规格项</label>
                <div class='controls'>
                    <textarea style="height: 100px" name="item" id="item" type='text' >{$vo.spec_item}</textarea>
                </div>
            </div>

            <!--<div class='form-actions' id="submit">-->
                 <!--<div class='btn btn-primary'  >-->
                    <!--<i class='icon-save'></i>-->
                    <!--确认提交-->
                <!--</div>-->

                <input class='btn btn-primary' type="submit" value="确认提交"></input>


        </volist>
        </form>
    </div>
</div>
</div>

</block>
