
body, div, img, li, p, span, ul {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
ul {
	list-style: none;
}
#back{
	background: url(../images/indexbackground.png);
	margin: 0 auto;
	background-attachment: fixed;
	background-size: cover;
	background-position: 0 0;
	background-repeat:  repeat;
}
.breadcrumbs li, .search-criteria-container ul li, .search-result ul li {
	 display: inline-block;
}
.breadcrumbs {
	width: 1090px;
	margin: auto;
	padding: 20px 0;
}
.breadcrumbs li {
	font-size: 16px;
}
.breadcrumbs li:last-child {
	color: #00aeff;
}
.search-res-container {
	margin-bottom: 105px;
}
.fix-width {
	width: 1090px;
	margin: auto;
	position: relative;
}

.search-res-container .search-criteria-container {
	font-size: 14px;
	border: 1px solid #e8e8e8;
	color: #333;
	background: #fff;
	border-bottom: none;
}
.search-res-container .search-criteria-container .sort-list li.price-input .placeholder {
	position: relative;
	left: 15px;
}
.search-res-container .search-criteria-container .category-list, .search-res-container .search-criteria-container .sub-category-list, .search-res-container .search-criteria-container > ul {
	border-bottom: 1px dashed #e8e8e8;
}

.search-res-container .search-criteria-container .category-list.brand-list .headers, .search-res-container .search-criteria-container .category-list.category-list .headers, .search-res-container .search-criteria-container .category-list.game-list .headers, .search-res-container .search-criteria-container .sub-category-list.brand-list .headers, .search-res-container .search-criteria-container .sub-category-list.category-list .headers, .search-res-container .search-criteria-container .sub-category-list.game-list .headers, .search-res-container .search-criteria-container > ul.brand-list .headers, .search-res-container .search-criteria-container > ul.category-list .headers, .search-res-container .search-criteria-container > ul.game-list .headers {
	float: left;
}

.search-res-container .search-criteria-container .category-list.brand-list .list-items, .search-res-container .search-criteria-container .category-list.category-list .list-items, .search-res-container .search-criteria-container .category-list.game-list .list-items, .search-res-container .search-criteria-container .sub-category-list.brand-list .list-items, .search-res-container .search-criteria-container .sub-category-list.category-list .list-items, .search-res-container .search-criteria-container .sub-category-list.game-list .list-items, .search-res-container .search-criteria-container > ul.brand-list .list-items, .search-res-container .search-criteria-container > ul.category-list .list-items, .search-res-container .search-criteria-container > ul.game-list .list-items {
	width: 948px;
	padding: 0;
}

.search-res-container .search-criteria-container .category-list li.all.active, .search-res-container .search-criteria-container .category-list li.item.active, .search-res-container .search-criteria-container .category-list li.sort-by-price.active, .search-res-container .search-criteria-container .category-list li.sort-by-sales.active, .search-res-container .search-criteria-container .sub-category-list li.all.active, .search-res-container .search-criteria-container .sub-category-list li.item.active, .search-res-container .search-criteria-container .sub-category-list li.sort-by-price.active, .search-res-container .search-criteria-container .sub-category-list li.sort-by-sales.active, .search-res-container .search-criteria-container>ul li.all.active, .search-res-container .search-criteria-container>ul li.item.active, .search-res-container .search-criteria-container>ul li.sort-by-price.active, .search-res-container .search-criteria-container>ul li.sort-by-sales.active {
	color: #00aeff;
}

.search-res-container .search-criteria-container .category-list li, .search-res-container .search-criteria-container .sub-category-list li, .search-res-container .search-criteria-container>ul li {
	padding: 20px 0;
}
.search-res-container .search-criteria-container .category-list li.headers, .search-res-container .search-criteria-container .category-list li.sort-by-latest, .search-res-container .search-criteria-container .sub-category-list li.headers, .search-res-container .search-criteria-container .sub-category-list li.sort-by-latest, .search-res-container .search-criteria-container>ul li.headers, .search-res-container .search-criteria-container>ul li.sort-by-latest {
	width: 140px;
	padding-right: 50px;
	text-align: right;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	color: #757575;
}
.search-res-container .search-criteria-container .sort-list li.price-input input {
	width: 64px;
	height: 28px;
	border: 1px solid #e8e8e8;
	padding-left: 15px;
	border-radius: 5px;
	color: #757575;
}
.search-res-container .search-criteria-container {
	font-size: 14px;
	border: 1px solid #e8e8e8;
	color: #333;
	background: #fff;
	border-bottom: none;
}
.search-res-container .search-criteria-container .category-list, .search-res-container .search-criteria-container .sub-category-list, .search-res-container .search-criteria-container>ul {
	border-bottom: 1px dashed #e8e8e8;
}
.search-res-container .search-criteria-container .category-list>li.list-items li {
	position: relative;
}
.search-res-container .search-criteria-container .category-list li.all, .search-res-container .search-criteria-container .category-list li.item, .search-res-container .search-criteria-container .category-list li.sort-by-price, .search-res-container .search-criteria-container .category-list li.sort-by-sales, .search-res-container .search-criteria-container .sub-category-list li.all, .search-res-container .search-criteria-container .sub-category-list li.item, .search-res-container .search-criteria-container .sub-category-list li.sort-by-price, .search-res-container .search-criteria-container .sub-category-list li.sort-by-sales, .search-res-container .search-criteria-container>ul li.all, .search-res-container .search-criteria-container>ul li.item, .search-res-container .search-criteria-container>ul li.sort-by-price, .search-res-container .search-criteria-container>ul li.sort-by-sales {
	padding-right: 45px;
	cursor: pointer;
}
.search-res-container .search-criteria-container .category-list>li.list-items li span.arrow {
	position: absolute;
	right: 22px;
}
.search-res-container .search-criteria-container .sub-category-list {
	padding-left: 140px;
}
.search-res-container .search-criteria-container .sort-list {
	background: #f7f7f7;
	color: #757575;
	border-bottom: 1px solid #e8e8e8;
}
.search-res-container .search-criteria-container .sort-list li.active {
	color: #00aeff;
}
.search-res-container .search-result .product-list li .sold-out-label {
	bottom: 75px;
}
.search-res-container .search-result .product-list li>span {
	display: block;
	margin: 12px auto;
	cursor: pointer;
}
.sold-out-label {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 36px;
	line-height: 36px;
	font-size: 16px;
	color: #fff;
	background: rgba(0,0,0,.3);
}
.search-res-container .search-criteria-container .sort-list li.sort-by-price button {
	margin-left: 40px;
}
.btn:last-child {
	margin-right: 0;
}
.btn-primary {
	color: #fff;
	background: #00aeff;
}
.search-res-container .search-result {
	position: relative;
	width: 1102px;

}
.search-res-container .search-result .product-list {
	margin-top: 28px;
	margin-bottom: 50px;
}
.search-res-container .search-result .product-list li {
	width: 256px;
	height: 300px;
	border: 1px solid #e8e8e8;
	margin-right: 16px;
	margin-bottom: 16px;
	text-align: center;
	background: #fff;
	position: relative;
}
.search-res-container .search-result .product-list li img {
	height: 210px;
	max-width: 100%;
	cursor: pointer;
}
.search-res-container .search-result .product-list li>span.prod-info {
	width: 90%;
	overflow: hidden;
	white-space: nowrap;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
}
.search-res-container .search-result .product-list li>span {
	display: block;
	margin: 12px auto;
	cursor: pointer;
}

.search-res-container .search-result .product-list li>span.normal .label {
	color: #b3b3b3;
}
.search-res-container .search-result .product-list li>span .price {
	color: #e60012;
	margin-right: 5px;
}
#pages a{
	display: block;
	float: left;
	margin-right: 10px;
	padding: 2px 12px;
	border: 1px #cccccc solid;
	background: #fff;
	text-decoration: none;
	color: #808080;
	font-size: 12px;
	height: 30px;
	line-height: 24px;
}
#pages p {
	float: left;
	padding: 2px 12px;
	font-size: 12px;
	height: 30px;
	line-height: 24px;
	color: #bbb;
	border: 1px #ccc solid;
	background: #fcfcfc;
	margin-right: 8px;
}
#pages .pagination {
	position: relative;
	width: 100%;
	text-align: center;
	bottom: 20px;
	left: 200px;
}

.search-res-container .search-result .no-result {
	width: 100%;
	text-align: center;
	padding-top: 126px;
}
.search-res-container .search-result .no-result img {
	margin-bottom: 30px;
}

.search-res-container .search-result .no-result p {
	font-size: 20px;
}