<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<script src="__PUBLIC__/static/js/jquery/jquery.min.js" type="text/javascript"></script>
		<include file="public/head"/>
		<title>个人中心</title>
	</head>

	<body style="background: #f0f1f5">
		<include file="public/publichead"/>

		<include file="user/user_title"/>


		<!-- 内容  开始-->
		<div class="wrap">
			<div class="vip_cont c100 clearfix">
				<include file="user/nav-left"/>

				<!--右边列表内容  开始-->
				<div class="fr vip_right vip_magRight">
					<!--用户信息  开始 -->
					<div class="cus01">
						<div class="cusImg">
							<img src="__PUBLIC__/static/images/userHeaddefault/default.jpg" width="120px" height="120px" title="更换头像" />
						</div>
						<div class="cusName">
							<p title="用户昵称">{$user.user_nickname}</p>
							<span class="">手机绑定:<em>{$user.user_phone}</em></span>
							<span title="余额"><i class="fa fa-credit-card">:</i>{$user.user_money} 元<a href="javascript; ">充值</a></span>
						</div>
						<div class="cusMoney">
								<ul class="mu-a1">
									<li class="">
										<a href="/Home/User/recharge.html">
											<i class="icon-balance"></i>
											<span>账户余额</span>
											<em class="mu-unit">&nbsp;元</em>
											<em class="mu-num">100000.00</em>
											<i class="icon-ar"></i>
										</a>
									</li>
									<li>
										<a href="/Home/User/account.html">
											<i class="icon-point"></i>
											<span>可用积分</span>
											<em class="mu-unit">&nbsp;分</em>
											<em class="mu-num">141500</em>
											<i class="icon-ar"></i>
										</a>
									</li>
								</ul>
								<ul class="mu-a2">
									<li>
										<a href="/Home/User/coupon.html">
											<i class="icon-coupon"></i>
											<span>优惠券</span>
											<em class="mu-unit">&nbsp;张</em>
											<em class="mu-num">0</em>
											<i class="icon-ar"></i>
										</a>
									</li>
									<li class="">
										<a href="/Home/User/rechargevip.html">
											<i class="icon-card"></i>
											<span>VIP充值</span>
											<em class="mu-unit"></em>
											<em class="mu-num"></em>
											<i class="icon-ar"></i>
										</a>
									</li>
								</ul>
						</div>
					</div>
					<!--订单列表-->
					<div class="order-list">
						<div class="ddlb-ayh">
							<div class="ddlb-tit">
								<h1>我的订单</h1>
								<a class="u-view-all" href="{:url('/index/order/myorder')}">查看全部订单</a>
								<!--<i class="u-sep"></i>-->
								<!--<a class="u-view-pre" href="">预售单<span class="hide">(待付款 <em>0</em>)</span></a>-->
							</div>
							<div class="order-alone-li">
								<volist name="order" id="list">
								<table width="100%" border="" cellspacing="" cellpadding="">
									<tbody>
									<tr class="time_or">
										<td colspan="6">
											<div class="fl_ttmm">
												<span class="time-num">下单时间：<em class="num">{$list.order_time}</em></span>
												<span class="time-num">订单编号：<em class="num">{$list.order_sn}</em></span>

												<div class="paysoon">
													<if condition="$list.pay_status eq 0">
														<if condition="$list.order_status neq 2">
															<a class="to_pay" href="{:url('/index/order/orderpay',['order_id'=>$list.id])}">立即支付</a>

														</if>
													</if>
													<a class="consoorder" href="javascript:void(0);" onclick="cancel_order({$list.id})">取消订单</a>
												</div>

											</div>
											<div class="fr_ttmm"></div>
										</td>
									</tr>
										<foreach name="goods" key="k2" item="v2">
											<tr class="conten_or">
												<td class="sx1">
													<div class="shop-if-dif">
														<div class="shop-difimg">
															<img src="{$v2.original_img}" style="float: left;width: 100px;height: 100px;">
														</div>
														<div class="shop_name">
															<a href="/Index/Goods/goodsInfo/id/{$v2.goods_id}">{$v2.goods_name}</a>
														</div>
													</div>
												</td>
												<td class="sx2"><span>￥</span><span>{$v2.goods_price}</span></td>
												<td class="sx3">x{$v2.goods_num}</td>
												<if condition="$k2 eq 0">
												<td class="sx4" rowspan="{$goods|count}">
													<div class="pric_rhz">
														<p class="d_pri"><span>￥</span><span>{$list.order_amount}</span></p>

														<p class="d_yzo">
															<span>含运费：</span>
															<span>{$list.shipping_price}</span></p>
														<p class="d_yzo"><a href="javascript:void(0);"></a></p>
													</div>
												</td>
												</if>
												<td class="sx5">
													<div class="detail_or">
														<p class="d_yzo">
															<if condition="$list.order_status==2">
																{$order_status[$list.order_status]}
																<else/>
																<if condition="$list.pay_status eq 0"/>
																	{$pay_status[$list.pay_status]}
																	<else/>
																	{$order_status[$list.order_status]}
																</if>
															</if>

														</p>
														<p>
															<a href="/index/Order/order_detail/orderid/{$list.id}">查看详情</a>
														</p>
														<!--<p class="inspect"><a href="/Home/User/order_detail/id/599.html">查看物流</a></p>-->
														<!--<p class="ps_r"><a href="javascript:void(0);">配送</a></p>-->
													</div>
												</td>
												<td class="sx6">
													<div class="rbac">
														<p class=""><a href="/Index/Goods/goodsInfo/id/{$v2.goods_id}">再次购买</a></p>
													</div>
												</td>
											</tr>
										</foreach>


									</tbody>
								</table>
								</volist>
							</div>
						</div>
					</div>

					<!--我的收藏-->
					<div class="collect bgno p">
						<div class="ddlb-zy">
							<div class="coll-coupon fl">
								<div class="coll-etl">
									<div class="ddlb-tit">
										<h1>我的收藏</h1>
										<!--<a class="cx-fk" class="J-childCollect" href="/Home/User/goods_collect.html">促销（<em>3</em>）</a>-->
										<a class="u-view-all" href="/Home/User/goods_collect.html">查看更多</a>
									</div>
									<div class="shop-sc-t">
										<ul>
											<foreach name="collect" item="v" key="k">
												<li>
													<a href="/Index/Goods/goodsInfo/id/{$v.goods_id}">
														<img src="{$v.original_img}">
														<p><em>￥</em><em>{$v.goods_price}</em></p>
													</a>
												</li>
											</foreach>
										</ul>
									</div>
								</div>
							</div>
							<div class="coll-coupon malrh fl">
								<div class="coupon-etl">
									<div class="ddlb-tit">
										<h1>我的优惠券</h1>
										<a class="u-view-all" href="/Home/User/coupon.html">查看更多</a>
									</div>
									<div class="shop-sc-t">
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- 用户信息  结束 -->
					<!--<div class="cus03">-->
						<!--<div class="mess">-->
							<!--<a href="#" target="_blank"><i></i>成为VIP会员或者加入鹰监测服务，可以优先排序，增加公司曝光等。>>点击了解详情</a>-->
						<!--</div>-->
					<!--</div>-->
				</div>
				<!--右边列表内容  结束-->
			</div>
		</div>

		<!-- 内容  结束-->

	<include file="public/footer"/>

	</body>
<script>
    //取消订单
    function cancel_order(id){
        layer.confirm('确定取消订单?', {
                btn: ['确定','取消'] //按钮
            }, function(){
                // 确定
                $.ajax({
					type:'get',
					dataType:'json',
					url:"/index/order/cancel_order",
					data:{id:id},
					success:function (data) {
					    if(data.status==0){
                            layer.alert(data.msg,{icon:2,time:2000});
						}
						if(data.status==1){
                            layer.alert(data.msg,{icon:1,time:2000},function () {
								window.location.reload();
                            });
						}

                    }
				})
            }, function(index){
                layer.close(index);
            }
        );
    }
</script>
</html>