<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<link href="__PUBLIC__/static/css/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="__PUBLIC__/static/css/user/usermoney.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/static/css/order/checkOut.css" />
	<script src="__PUBLIC__/static/js/jquery/jquery.min.js" type="text/javascript"></script>
	<include file="public/head"/>
	<title>地址管理</title>

</head>

<body style="background: #f0f1f5">
<include file="public/publichead"/>

<include file="user/user_title"/>

<!-- 内容  开始-->
<div class="wrap">
	<div class="vip_cont c100 clearfix">
		<include file="user/nav-left"/>

		<!--右边列表内容  开始-->
		<div class="fr vip_right vip_magRight">
			<div class="order-list">
				<div class="security-right">
					<div data-v-4cbad597="" class="security-right-title">
						<span data-v-4cbad597="" class="security-right-title-icon"></span>
						<span data-v-4cbad597="" class="security-right-title-text">地址管理</span>
						<span data-v-4cbad597="" style="float:right;margin-right: 100px" class="security-right-title-text" id="addEditAddr" data-address_id="0">新增收货地址</span>
					</div>
				</div>

				<div class="ddlb-ayh">
					<div class="">

						<div class="card-list accbala">
							<ul>
								<li><a href="javascript:void(0);">收货人</a></li>
								<li><a href="javascript:void(0);">收货地址</a></li>
								<li><a href="javascript:void(0);">联系电话</a></li>
								<li><a href="javascript:void(0);">操作</a></li>
							</ul>
						</div>
						<foreach name="address" key="k" item="v">
							<div class="card-list1 c_contan accbala-list" >
								<input type="hidden" id="addressid" value="{$v.address_id}" data-status="<if condition="$v.is_default eq 1">1</if>"/>
								<ul>
									<li><a href="javascript:void(0);">{$v.consignee}</a></li>
									<li><a href="javascript:void(0);">{$region[$v.province]['name']}{$region[$v.city]['name']}{$region[$v.district]['name']}{$region[$v.town]['name']}{$v.address}</a></li>
									<li><a href="javascript:void(0);">{$v.phone}</a></li>
									<li>
										<a href="javascript:void(0);" id="addDefaultAddr" data-address_id="{$v.address_id}">设为默认地址</a>
										<a href="javascript:void(0);" id="addEditAddr" data-address_id="{$v.address_id}">编辑</a>
										<a href="javascript:void(0);" id="delAddr" data-address_id="{$v.address_id}">删除</a>
									</li>
								</ul>


							</div>
						</foreach>
					</div>
					<div><p>已保存<em style="color: red">{$count}</em>条地址，还可以保存 <em style="color: red">{$more}</em> 条地址</p></div>


				</div>
			</div>
		</div>

		<!--右边列表内容  结束-->
	</div>
</div>
<!-- 内容  结束-->

<!--编辑地址弹窗-s--->
<div class="shadow">
	<div class="ui-dialog infom-dia" id="address_dialog" style="width: 700px">

		<form id="address_form">
			<input name="address_id" type="hidden" value="0">
			<div class="close"></div>
			<div class="ui-dialog-title">
				<span>新增收货地址</span>
			</div>
			<div class="ui-dialog-content" style="height: 600px;width: 700px">
				<div class="invoice-dialog">
					<div class="zinvoice-tips">
						<!--<span class="tip-cont">错误信息</span>-->
					</div>
					<div class="ui-switchable-panel">
						<div class="invoice_title p">
							<span class="label"><span class="red">*</span>收货人：</span>

							<div class="fl">
								<input class="invoice_tt" name="consignee" type="text" value="" maxlength="12"/>
								<span class="err" id="err_consignee"></span>
							</div>
						</div>
						<div class="invoice_title p">
							<span class="label"><span class="red">*</span>手机：</span>

							<div class="fl">
								<input class="invoice_tt" name="phone" type="text" value=""
									   placeholder="请输入11位的手机号"  maxlength="11" onkeyup="this.value=this.value.replace(/[^\d]/g,'')"/>
								<span class="err" id="err_phone"></span>
							</div>
						</div>
						<div class="invoice_title p">
							<span class="label"><span class="red">*</span>收货地址：</span>
							<span class="err" id="err_province"></span>
							<span class="err" id="err_city"></span>
							<span class="err" id="err_district"></span>
							<select class="di-bl fl seauii" name="province" id="province" onChange="get_city(this)">
								<option value="0">请选择</option>
							</select>
							<select class="di-bl fl seauii" name="city" id="city" onChange="get_area(this)">
								<option value="0">请选择</option>
							</select>

							<select class="di-bl fl seauii" name="district" id="district" onChange="get_twon(this)">
								<option value="0">请选择</option>
							</select>

							<select class="di-bl fl seauii" name="town" id="twon" style="display:none;">
							</select>
						</div>
						<div class="invoice_title p">
							<span class="label"><span class="red">*</span>详细地址：</span>
							<span class="err" id="err_address"></span>

							<div class="fl">
								<input class="invoice_tt" name="address" type="text" placeholder="详细地址" maxlength="100"/>
							</div>
						</div>
						<div class="invoice_title p">
							<span class="label">邮编：</span>

							<div class="fl">
								<input class="invoice_tt" name="zipcode" type="text" value=""
									   onKeyUp="this.value=this.value.replace(/[^\d]/g,'')" maxlength="6"/>
							</div>
						</div>
						<div class="invoice_title p">
							<span class="label">&nbsp;</span>

							<div class="fl">
								<div class="op-btns  invoice_sendwithgift">
									<a id="address_submit" class="btn-1">保存</a>
									<a onclick="$('.close').trigger('click');" class="btn-9">取消</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>

	</div>
</div>
<!--编辑地址弹窗-e--->

<include file="public/footer"/>

</body>
<script>
    layui.use('upload', function() {
        var $ = layui.jquery
            , upload = layui.upload;

        //普通图片上传
        var uploadInst = upload.render({
            elem: '#test1'
            , url: '/admin/Goods/img'
            , done: function (res) {
                if (res.status == 0) {
                    return layer.msg('上传失败');
                }else {
                    //上传成功
                    $('#original_img').val(res.path);
                    $('#demo1').attr('src', res.path);
                }
            }
            , error: function () {
                //演示失败状态，并实现重传
                var demoText = $('#demoText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function () {
                    uploadInst.upload();
                });
            }
        });
    })
    layui.use('laydate', function() {
        var laydate = layui.laydate;

        //日期常规用法
        laydate.render({
            elem: '#birthday'
        });
    })
    //取消订单
    function cancel_order(id){
        layer.confirm('确定取消订单?', {
                btn: ['确定','取消'] //按钮
            }, function(){
                // 确定
                $.ajax({
                    type:'get',
                    dataType:'json',
                    url:"/index/order/cancel_order",
                    data:{id:id},
                    success:function (data) {
                        if(data.status==0){
                            layer.alert(data.msg,{icon:2,time:2000});
                        }
                        if(data.status==1){
                            layer.alert(data.msg,{icon:1,time:2000},function () {
                                window.location.reload();
                            });
                        }

                    }
                })
            }, function(index){
                layer.close(index);
            }
        );
    }

    get_province();
    //初始化地址id
    var addr = $("input[id^='addressid']")
    addr.each(function(i,o){
        if($(this).data('status')==1){
            var a = $(this).val();
            $('.addressId').val(a)
        }
    })
    //新增或者编辑地址
    $(document).on('click','#addEditAddr',function () {

        var dh = $(document).height();
        var dw = $(document).width();
        $('#shadow').height(dh).width(dw).show();
        $('#address_dialog').css('display','block');
        $('.shadow').css('display','block');
        $('.close').css('display','block');
        var address_id = $(this).data('address_id');
        // console.log(address_id)
        if (address_id > 0) {
            $("input[name='address_id']").val(address_id);
            $.ajax({
                type: "POST",
                url: "{:url('/Index/User/address')}",
                data: {address_id: address_id},
                dataType: 'json',
                success: function (data) {
                    if (data.status == 1) {
                        $("input[name='consignee']").val(data.result.user_address.consignee);
                        $("input[name='address']").val(data.result.user_address.address);
                        $("input[name='phone']").val(data.result.user_address.phone);
                        $("input[name='zipcode']").val(data.result.user_address.zipcode);
                        var province_list_option_html = '<option value="0">请选择</option>';//省
                        var city_list_option_html = '<option value="0">请选择</option>';//市
                        var district_list_option_html = '<option value="0">请选择</option>';//区
                        var twon_list_option_html = '<option value="0">请选择</option>';//街道

                        $.each(data.result.province_list, function (n, value) {
                            province_list_option_html += '<option value="' + value.id + '">' + value.name + '</option>';
                        });
                        $('#province').html(province_list_option_html).val(data.result.user_address.province);



                        $.each(data.result.city_list, function (n, value) {
                            city_list_option_html += '<option value="' + value.id + '">' + value.name + '</option>';
                        });
                        $('#city').html(city_list_option_html).val(data.result.user_address.city);

                        $.each(data.result.district_list, function (n, value) {
                            district_list_option_html += '<option value="' + value.id + '">' + value.name + '</option>';
                        });
                        $('#district').html(district_list_option_html).val(data.result.user_address.district);

                        $.each(data.result.twon_list, function (n, value) {
                            twon_list_option_html += '<option value="' + value.id + '">' + value.name + '</option>';
                        });
                        if (data.result.twon_list.length > 0) {
                            $('#twon').html(twon_list_option_html).val(data.result.user_address.town).show();
                        }

                    } else {
                        layer.open({icon: 2, content: data.msg, time: 1000});
                    }
                }
            });
        } else {
            $("input[name='address_id']").val(0);
            $("input[name='consignee']").val('');
            $("input[name='address']").val('');
            $("input[name='phone']").val('');
            $("input[name='zipcode']").val('');
            $("#province").val(0);
            $("#city").empty().html('<option value="0">请选择</option>');
            $("#district").empty().html('<option value="0">请选择</option>');
            $("#twon").empty().html('<option value="0">请选择</option>').hide();
        }
    })

    //删除地址
    $(document).on('click','#delAddr',function () {
        var address_id = $(this).data('address_id');
        layer.confirm('确定删除地址？',{btn:['确定','取消'],title:'提示'},function () {
            $.ajax({
                type: "POST",
                url: "{:url('/Index/User/deladdress')}",
                data: {address_id: address_id},
                dataType: 'json',
                success: function (data) {
                    if (data.status == 1) {
                        layer.msg(data.msg,{icon:1,time:2000},function () {
                            window.location.reload();
                        })
                    } else {
                        layer.msg(data.msg,{icon:2,time:2000})
                    }
                }
            });
        })


    })

    //设置默认地址
    $(document).on('click','#addDefaultAddr',function () {
        var address_id = $(this).data('address_id');
        $.ajax({
            type: "POST",
            url: "{:url('/Index/User/setdefaultaddress')}",
            data: {address_id: address_id},
            dataType: 'json',
            success: function (data) {
                if (data.status == 1) {
                    layer.msg(data.msg,{icon:1,time:2000})
                } else {
                    layer.msg(data.msg,{icon:2,time:2000})
                }
            }
        });
    })


    //点击close关闭弹窗
    $(document).on('click','.close',function () {
        $('.close').css('display','none');
        $('#address_dialog').css('display','none');
        $('.shadow').css('display','none');
    })
    //获取省份
    function get_province(){

        $.ajax({
            type : "GET",
            url  : '/index/user/region',
            data:{parent_id:0},
            error: function(request) {
                alert("服务器繁忙, 请联系管理员!");
                return;
            },
            success: function(v) {
                v = '<option value="0">选择省份</option>'+ v;
                $('#province').empty().html(v);
            }
        });
    }
    //获取城市
    function get_city(t,city,district,twon){
        var parent_id = $(t).val();
        console.log(parent_id)
        if(!parent_id > 0){
            return;
        }
        var city_id = 'city';
        if(typeof(city) != 'undefined' && city != ''){
            city_id = city;
        }
        var district_id = 'district';
        if(typeof(district) != 'undefined' && district != ''){
            district_id = district;
        }
        var twon_id = 'twon';
        if(typeof(twon) != 'undefined' && twon != ''){
            twon_id = twon;
        }
        $('#'+district_id).empty().css('display','none');
        $('#'+twon_id).empty().css('display','none');
        $.ajax({
            type : "GET",
            url  : '/index/user/region',
            data:{parent_id:parent_id},
            error: function(request) {
                alert("服务器繁忙, 请联系管理员!");
                return;
            },
            success: function(v) {
                v = '<option value="0">选择城市</option>'+ v;
                $('#'+city_id).empty().html(v);
            }
        });
    }
    //获取地区
    function get_area(t,district,twon){
        var parent_id = $(t).val();
        if(!parent_id > 0){
            return;
        }
        var district_id = 'district';
        if(typeof(district) != 'undefined' && district != ''){
            district_id = district;
        }
        var twon_id = 'twon';
        if(typeof(twon) != 'undefined' && twon != ''){
            twon_id = twon;
        }
        $('#'+district_id).empty().css('display','inline');
        $('#'+twon_id).empty().css('display','none');
        $.ajax({
            type : "GET",
            url  : '/index/user/region',
            data:{parent_id:parent_id},
            error: function(request) {
                alert("服务器繁忙, 请联系管理员!");
                return;
            },
            success: function(v) {
                v = '<option>选择区域</option>'+ v;
                $('#'+district_id).empty().html(v);
            }
        });
    }
    // 获取最后一级乡镇
    function get_twon(obj,twon){
        var twon_id = 'twon';
        if(typeof(twon) != 'undefined' && twon != ''){
            twon_id = twon;
        }
        var parent_id = $(obj).val();

        $.ajax({
            type : "GET",
            url  : '/index/user/region',
            data:{parent_id:parent_id},
            success: function(res) {
                if(parseInt(res) == 0){
                    $('#'+twon_id).empty().css('display','none');
                }else{
                    $('#'+twon_id).css('display','inline').empty().html(res);
                }
            }
        });
    }
    //地址提交
    $(document).on("click", '#address_submit', function (e) {
        $.ajax({
            type: "POST",
            url: "{:url('/index/User/addressSave')}",
            data: $('#address_form').serialize(),
            dataType: 'json',
            success: function (data) {
                console.log(data);
                if (data.status == 1) {
                    layer.msg(data.msg,{icon:1,time:2000},function () {
                        window.location.reload();
                    })
                } else {
                    layer.msg(data.msg,{icon: 2,time: 1000},function() {
                        window.location.reload();
                    });
                }
            }
        });
    })
</script>
</html>