<!--左边列表导航  开始-->
<div class="fl vip_left vip_magLeft" style="background: white">
    <dl>
        <dt>交易中心</dt>
        <dd>
            <p class="<if condition="$Request.param.type eq 'myorder'">selected</if>"><a href="{:url('/index/order/myorder',array('type'=>'myorder'))}" >我的订单</a></p>
            <p><a href="#" <if condition="$Request.param.type eq 'myorder'">selected</if>>我的评价</a></p>
        </dd>
    </dl>
    <dl>
        <dt>资产中心</dt>
        <dd>
            <p><a href="#">账户余额</a></p>
        </dd>
    </dl>
    <dl>
        <dt>关注中心</dt>
        <dd>
            <p><a href="#" >我的收藏</a></p>
        </dd>
    </dl>
    <dl>
        <dt>我的账号</dt>
        <dd>
            <p><a href="#" >个人信息</a></p>
            <p><a href="#" >地址管理</a></p>
            <p><a href="#" >安全设置</a></p>
        </dd>
    </dl>
</div>
<!--左边列表导航  结束-->