<!-- 会员公共头部  开始-->
<div class="shop_wrap  ">
	<div class="c100 nav_wrap">
		<div class="fl shop_logo">
			<a href="{:url('/index/index/index')}" >
				<img src="__PUBLIC__/static/images/index-index/5.png" style="width: 84px;height: 80px;border-radius: 100px;background: white"/>
			</a>
			<a href="{:url('/index/index/index')}" title="商城首页" class="midMag">商城首页</a>
		</div>
		<div class="fl nav act_nav">
			<ul>
				<li><a href="{:url('/index/user/index')}">我的商城</a></li>
				<li><a class="" href="{:url('/index/order/myorder',array('type'=>'myorder'))}">我的订单</a></li>
				<li><a class="" href="{:url('/index/user/mycollect')}">我的收藏</a></li>
				<li>
					<form id="sourch_form" method="get" action="/index/goods/goodslist/status/1">
					<input class="search_usercenter_text" name="search" id="q" type="text" value="">
					<input class="search_usercenter_btn" style="font-size: 12px;padding: 0" href="javascript:;" value="搜索"  type="submit"/>
				</form>

				</li>
				<li>
					<div class="u-g-cart fr" id="hd-my-cart">
						<a href="/Index/Cart/index">
							<div class="c-n fl">
								<i class="share-shopcar-index"></i>
								<span>我的购物车</span>
								<!--<em class="shop-nums" id="cart_quantity">80</em>-->
							</div>
						</a>

					</div>

				</li>
			</ul>
		</div>
	</div>
</div>
<!-- 会员公共头部  结束-->